<!-- Command form -->
<form id="commandForm" action="" autocomplete="off">
  <input id="commandInput" maxlength="80" />
  <button id="commandSend" type="submit">Send</button>
</form>

<script>
  const input = document.getElementById("commandInput");

  document.addEventListener("DOMContentLoaded", () => {
    const commandForm = document.getElementById("commandForm");
    const validCommandWords = <%- JSON.stringify(validCommandWords) %>;

    function isValidCommandWord(commandWord) {
      if (!validCommandWords.includes(commandWord.toLowerCase())) {
        return false;
      }
      return true;
    }

    function parseCommand(command) {
      const parsedCommand = {};
      const splitCommand = command.split(" ");
      parsedCommand.commandWord = splitCommand[0].toLowerCase();
      if (splitCommand.length > 1) {
        parsedCommand.string = splitCommand.slice(1).join(" ");
      }
      return parsedCommand;
    }

    commandForm.addEventListener("submit", (e) => {
      e.preventDefault();
      if (input.value) {
        
        const parsedCommand = parseCommand(input.value);

        const directions = ["n","e","s","w","u","d","north","east","south","west","up","down"]
        if (directions.includes(parsedCommand.commandWord)) {
          activeForm.style.display = "none";
        }
        
        //reject invalid command words
        if (!isValidCommandWord(parsedCommand.commandWord)) {
          const shortenedCommand = parsedCommand.commandWord.slice(0, 10);
          appendMessageToTerminal({
            type: "rejection",
            content: `Sorry, '${shortenedCommand}' is not a valid command word.`,
          });
          if (["move","go","travel"].includes(parsedCommand.commandWord)) {
            appendMessageToTerminal({
            type: "help",
            content: `Type a direction (e.g. "north" or "n"), or type GOTO to visit your zones.`,
          });
          }
          input.value = "";
          return;
        }
        socket.emit("userSentCommand", DOMPurify.sanitize(input.value));
        input.value = "";
      }
    });
  });
</script>
