<!-- create_room_form -->
<form
  id="createRoomForm"
  class="sideForm"
  style="display: none"
  autocomplete="off"
>
  <ul>
    <li>
      <a class="cancelButton" id="cancelCreateRoomForm"> Cancel </a>
    </li>
  </ul>
  <h2>Create Room</h2>
  <ul>
    <li>
      <label for="newRoomName">Name:</label>
      <input
        id="newRoomName"
        name="newRoomName"
        type="text"
        autocomplete="on"
        maxlength="60"
        required
      />
    </li>
    <li>
      <label for="newRoomDirection">Direction:</label>
      <select id="newRoomDirection" name="newRoomDirection" required>
        <option value="north">north</option>
        <option value="east">east</option>
        <option value="south">south</option>
        <option value="west">west</option>
        <option value="up">up</option>
        <option value="down">down</option>
      </select>
    </li>
    <div style="display: block">
      <li style="display: inline-block">
        <label for="newIsDark">Dark</label>
        <input
          type="checkbox"
          id="newIsDark"
          name="newIsDark"
          value="newIsDark"
        />
      </li>
      <li style="display: inline-block">
        <label for="newIsIndoors">Indoors</label>
        <input
          type="checkbox"
          id="newIsIndoors"
          name="newIsIndoors"
          value="newIsIndoors"
        />
      </li>
    </div>
    <div style="display: block">
      <li style="display: inline-block">
        <label for="newIsOnWater">On Water</label>
        <input
          type="checkbox"
          id="newIsOnWater"
          name="newIsOnWater"
          value="newIsOnWater"
        />
      </li>
      <li style="display: inline-block">
        <label for="newIsUnderwater">Underwater</label>
        <input
          type="checkbox"
          id="newIsUnderwater"
          name="newIsUnderwater"
          value="newIsUnderwater"
        />
      </li>
    </div>

    <h3>Description</h3>
    <li>
      <label for="newExamineRoom">Examine:</label>
      <textarea
        id="newExamineRoom"
        name="newExamineRoom"
        type="text"
        maxlength="240"
      ></textarea>
    </li>
  </ul>
  <button type="submit">Create Room</button>
</form>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const createRoomForm = document.getElementById("createRoomForm");
    const directionSelect = document.getElementById("newRoomDirection");

    createRoomForm.addEventListener("submit", (e) => {
      e.preventDefault();
      const roomData = {
        name: DOMPurify.sanitize(document.getElementById("newRoomName").value),
        direction: document.getElementById("newRoomDirection").value,
        isDark: document.getElementById("newIsDark").checked,
        isIndoors: document.getElementById("newIsIndoors").checked,
        isOnWater: document.getElementById("newIsOnWater").checked,
        isUnderwater: document.getElementById("newIsUnderwater").checked,
        noMounts: false,
        noMobs: false,
        noMagic: false,
        noCombat: false,
        examine: DOMPurify.sanitize(
          document.getElementById("newExamineRoom").value
        ),
        study: "",
        research: "",
      };
      socket.emit("userSubmittedCreateRoom", roomData);
      createRoomForm.reset();
      createRoomForm.style.display = "none";
    });

    document
      .getElementById("cancelCreateRoomForm")
      .addEventListener("click", function () {
        createRoomForm.style.display = "none";
      });

    socket.on("openCreateRoomForm", (formData) => {
      activeForm.reset();
      activeForm.style.display = "none";
      activeForm = createRoomForm;
      activeForm.style.display = "block";
      input.value = "";
      const helpArray = [
        `================================ Create Room =================================`,
        `<span style="color:var(--red)">Name:</span> e.g '<span style="color: var(--yellow_light)">A Long Hallway</span>' or '<span style="color: var(--yellow_light)">The Potion Shoppe'</span>`,
        `<span style="color:var(--red)">Direction:</span> This is the location of the new room, from here.`,
        `<span style="color:var(--red)">Dark:</span> Items, mobs, and players are hidden unless a lamp is in the room.`,
        `<span style="color:var(--red)">Indoors:</span> Weather won't take effect here.`,
        `<span style="color:var(--red)">On Water:</span> Players and mobs can't enter without levitate.`,
        `<span style="color:var(--red)">Underwater:</span> Players will take drowning damage without magic.`,
        `<span style="color:var(--red)">Examine:</span> This is how the player sees the room when they look or enter it.`,
      ];
      showHelpArray(helpArray);

      // Update the direction select element
      directionSelect.innerHTML = ""; // Clear existing options

      formData.unusedExits.forEach((exit) => {
        const option = document.createElement("option");
        option.value = exit;
        option.textContent = exit;
        directionSelect.appendChild(option);
      });
    });
  });
</script>
