<!-- create_mob_blueprint_form -->
<form
  id="createMobBlueprintForm"
  class="sideForm"
  style="display: none"
  autocomplete="off"
>
  <ul>
    <li>
      <a class="cancelButton" id="cancelCreateMobBlueprintForm"> Cancel </a>
    </li>
  </ul>
  <h2>Create Mob Blueprint</h2>
  <ul>
    <li>
      <label for="newMobName">Name:</label>
      <input
        id="newMobName"
        name="newMobName"
        type="text"
        maxlength="36"
        required
      />
    </li>
    <li>
      <label for="newMobKeywords">Keywords:</label>
      <input
        id="newMobKeywords"
        name="newMobKeywords"
        maxlength="80"
        required
      />
    </li>

    <li>
      <label for="newMobPronouns">Pronouns:</label>
      <select id="newMobPronouns" name="newMobPronouns" required>
        <option value="0">He/Him</option>
        <option value="1">It/It</option>
        <option value="2">She/Her</option>
        <option value="3">They/Them</option>
      </select>
    </li>
    <li style="display: inline-block">
      <label for="newMobLevel">Level:</label>
      <input
        style="width: 3.9rem"
        type="number"
        id="newMobLevel"
        name="newMobLevel"
        min="1"
        max="31"
        value="1"
        required
      />
    </li>
    <li style="display: inline-block">
      <label style="min-width: 0" for="newMobJob">Job:</label>
      <select id="newMobJob" name="newMobJob" required>
        <option value="cleric">Cleric</option>
        <option value="mage">Mage</option>
        <option value="rogue">Rogue</option>
        <option value="warrior">Warrior</option>
      </select>
    </li>

    <h3>Description</h3>
    <li>
      <label for="newLookMob">Look:</label>
      <input id="newLookMob" name="newLookMob" type="text" maxlength="80" />
    </li>
    <li>
      <label for="newExamineMob">Examine:</label>
      <textarea
        id="newExamineMob"
        name="newExamineMob"
        type="text"
        maxlength="240"
      ></textarea>
    </li>
  </ul>
  <button type="submit">Create Mob</button>
</form>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const createMobBlueprintForm = document.getElementById(
      "createMobBlueprintForm"
    );

    createMobBlueprintForm.addEventListener("submit", (e) => {
      e.preventDefault();
      const createMobBlueprintFormData = {
        _id: "",
        name: document.getElementById("newMobName").value,
        pronouns: Number(document.getElementById("newMobPronouns").value),
        level: Number(document.getElementById("newMobLevel").value),
        job: document.getElementById("newMobJob").value,
        keywords: document
          .getElementById("newMobKeywords")
          .value.split(/[ ,]+/),
        description: {
          look: document.getElementById("newLookMob").value,
          examine: document.getElementById("newExamineMob").value,
        },
      };
      socket.emit("userSubmittedNewMobBlueprint", createMobBlueprintFormData);
      createMobBlueprintForm.reset();
      createMobBlueprintForm.style.display = "none"; // Hide the form after submission
    });

    document
      .getElementById("cancelCreateMobBlueprintForm")
      .addEventListener("click", function () {
        createMobBlueprintForm.style.display = "none";
      });

    socket.on("opencreateMobBlueprintForm", (formData) => {
      activeForm.reset();
      activeForm.style.display = "none";
      activeForm = createMobBlueprintForm;
      activeForm.style.display = "block";
      input.value = "";
    });
  });
</script>
