<!-- create_item_blueprint_form -->
<form
  id="createItemBlueprintForm"
  class="sideForm"
  style="display: none"
  autocomplete="off"
>
  <ul>
    <li>
      <a class="cancelButton" id="cancelCreateItemBlueprintForm"> Cancel </a>
    </li>
  </ul>
  <h2>Create Item Blueprint</h2>
  <ul>
    <li>
      <label for="newItemName">Name:</label>
      <input
        id="newItemName"
        name="newItemName"
        type="text"
        maxlength="36"
        required
      />
    </li>
    <li>
      <label for="newItemKeywords">Keywords:</label>
      <input
        id="newItemKeywords"
        name="newItemKeywords"
        type="text"
        maxlength="80"
        required
      />
    </li>

    <li style="display: inline-block">
      <label for="newItemType">Type:</label>
      <select id="newItemType" name="newItemType" required>
        <option value="armor">armor</option>
        <option value="fishing_rod">fishing rod</option>
        <option value="gold">gold</option>
        <option value="key">key</option>
        <option value="none" selected>none</option>
        <option value="potion">potion</option>
        <option value="scroll">scroll</option>
        <option value="token">token</option>
        <option value="treasure">treasure</option>
        <option value="wand">wand</option>
        <option value="weapon">weapon</option>
      </select>
    </li>
    <li style="display: inline-block">
      <label for="newItemMinimumLevel">MinLvl:</label>
      <select
        style="margin-right: 0"
        id="newItemMinimumLevel"
        name="newItemMinimumLevel"
        required
      >
        <!-- populated by script -->
      </select>
    </li>

    <li style="display: inline-block">
      <label for="newItemPrice">Price:</label>
      <input
        class="stubbySelect"
        type="number"
        id="newItemPrice"
        name="newItemPrice"
        min="0"
        max="100000"
        value="0"
        required
      />
    </li>
    <li style="display: inline-block">
      <label for="newItemIsContainer">Container: </label>
      <input
        type="checkbox"
        id="newItemIsContainer"
        name="newItemIsContainer"
      />
    </li>

    <h3>Description</h3>
    <li>
      <label for="newLookItem">Look:</label>
      <input id="newLookItem" name="newLookItem" type="text" maxlength="80" />
    </li>
    <li>
      <label for="newExamineItem">Examine:</label>
      <textarea
        id="newExamineItem"
        name="newExamineItem"
        type="text"
        maxlength="240"
      ></textarea>
    </li>
    <li>
      <label for="newStudyItem">Study:</label>
      <textarea
        id="newStudyItem"
        name="newStudyItem"
        type="text"
        maxlength="640"
      ></textarea>
    </li>
    <li>
      <label for="newResearchItem">Research:</label>
      <textarea
        id="newResearchItem"
        name="newResearchItem"
        type="text"
        maxlength="1600"
      ></textarea>
    </li>
  </ul>

  <ul>
    <li>
      <button class="submitButton" type="submit">Create Item Blueprint</button>
    </li>
  </ul>
</form>

<script>
  const createItemBlueprintForm = document.getElementById(
    "createItemBlueprintForm"
  );

  document.addEventListener("DOMContentLoaded", () => {
    generateNumberSelectOptions(
      1,
      31,
      document.getElementById("newItemMinimumLevel")
    );
  });

  createItemBlueprintForm.addEventListener("submit", (e) => {
    e.preventDefault();
    const createItemBlueprintFormData = {
      name: document.getElementById("newItemName").value,
      itemType: document.getElementById("newItemType").value,
      keywords: document.getElementById("newItemKeywords").value.split(/[ ,]+/),
      description: {
        look: document.getElementById("newLookItem").value,
        examine: document.getElementById("newExamineItem").value,
        study: document.getElementById("newStudyItem").value,
        research: document.getElementById("newResearchItem").value,
      },
      price: document.getElementById("newItemPrice").value,
      minimumLevel: document.getElementById("newItemMinimumLevel").value,
      isContainer: document.getElementById("newItemIsContainer").checked,
    };
    socket.emit("userSubmittedNewItemBlueprint", createItemBlueprintFormData);
    createItemBlueprintForm.reset();
    createItemBlueprintForm.style.display = "none"; // Hide the form after submission
  });

  document
    .getElementById("cancelCreateItemBlueprintForm")
    .addEventListener("click", function () {
      createItemBlueprintForm.style.display = "none";
    });

  socket.on("openCreateItemBlueprintForm", (formData) => {
    activeForm.reset();
    activeForm.style.display = "none";
    activeForm = createItemBlueprintForm;
    activeForm.style.display = "block";
    input.value = "";
  });
</script>
