<!-- create_zone_form -->
<form
  id="createZoneForm"
  class="sideForm"
  style="display: none"
  autocomplete="off"
>
  <ul>
    <li>
      <a class="cancelButton" id="cancelCreateZoneForm"> Cancel </a>
    </li>
  </ul>
  <h2>Create Zone</h2>
  <ul>
    <li>
      <label for="newZoneName">Name:</label>
      <input
        id="newZoneName"
        name="newZoneName"
        type="text"
        maxlength="36"
        required
      />
    </li>
    <li>
      <label for="newZoneMinutesToRepop">Repop:</label>
      <input
        id="newZoneMinutesToRepop"
        name="newZoneMinutesToRepop"
        type="number"
        min="5"
        max="180"
        value="15"
        required
      />
    </li>
    <h3>Description</h3>
    <li>
      <label for="newLookZone">Look:</label>
      <input id="newLookZone" name="newLookZone" type="text" maxlength="80" />
    </li>
    <li>
      <label for="newExamineZone">Examine:</label>
      <textarea
        id="newExamineZone"
        name="newExamineZone"
        type="text"
        maxlength="240"
      ></textarea>
    </li>
    <li>
      <label for="newStudyZone">Study:</label>
      <textarea
        id="newStudyZone"
        name="newStudyZone"
        type="text"
        maxlength="640"
      ></textarea>
    </li>
    <li>
      <label for="newResearchZone">Research:</label>
      <textarea
        id="newResearchZone"
        name="newResearchZone"
        type="text"
        maxlength="1600"
      ></textarea>
    </li>
  </ul>

  <ul>
    <li>
      <button class="submitButton" type="submit">Create Zone</button>
    </li>
  </ul>
</form>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const createZoneForm = document.getElementById("createZoneForm");

    createZoneForm.addEventListener("submit", (e) => {
      e.preventDefault();
      const createZoneFormData = {
        name: document.getElementById("newZoneName").value,
        minutesToRepop: Number(
          document.getElementById("newZoneMinutesToRepop").value
        ),
        description: {
          look: document.getElementById("newLookZone").value,
          examine: document.getElementById("newExamineZone").value,
          study: document.getElementById("newStudyZone").value,
          research: document.getElementById("newResearchZone").value,
        },
      };
      socket.emit("userSubmittedNewZone", createZoneFormData);
      createZoneForm.reset();
      createZoneForm.style.display = "none"; // Hide the form after submission
    });

    document
      .getElementById("cancelCreateZoneForm")
      .addEventListener("click", function () {
        createZoneForm.style.display = "none";
      });

    socket.on("openCreateZoneForm", () => {
      activeForm.reset();
      activeForm.style.display = "none";
      activeForm = createZoneForm;
      activeForm.style.display = "block";
      input.value = "";
    });
  });
</script>
