<!-- create_room_form -->
<form
  id="createRoomForm"
  class="sideForm"
  style="display: none"
  autocomplete="off"
>
  <ul>
    <li>
      <a class="cancelButton" id="cancelCreateRoomForm"> Cancel </a>
    </li>
  </ul>
  <h2>Create Room</h2>
  <ul>
    <li>
      <label for="createRoomName">Name:</label>
      <input
        id="createRoomName"
        name="createRoomName"
        type="text"
        autocomplete="on"
        maxlength="60"
        required
      />
    </li>
    <li>
      <label for="createRoomDirection">Direction:</label>
      <select id="createRoomDirection" name="createRoomDirection" required>
        <option value="north">north</option>
        <option value="east">east</option>
        <option value="south">south</option>
        <option value="west">west</option>
        <option value="up">up</option>
        <option value="down">down</option>
      </select>
    </li>

    <h3>Description</h3>
    <li>
      <label for="createRoomLook">Look:</label>
      <input
        id="createRoomLook"
        name="createRoomLook"
        type="text"
        maxlength="79"
        required
      />
    </li>
    <li>
      <label for="createRoomExamine">Examine:</label>
      <textarea
        id="createRoomExamine"
        name="createRoomExamine"
        type="text"
        maxlength="240"
      ></textarea>
    </li>
  </ul>
  <button type="submit">Create Room</button>
</form>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const createRoomForm = document.getElementById("createRoomForm");
    const createRoomDirection = document.getElementById("createRoomDirection");

    createRoomForm.addEventListener("submit", (e) => {
      e.preventDefault();
      const roomData = {
        name: DOMPurify.sanitize(document.getElementById("createRoomName").value),
        direction: createRoomDirection.value,
        description: {
          look: DOMPurify.sanitize(
            document.getElementById("createRoomLook").value
          ),
          examine: DOMPurify.sanitize(
            document.getElementById("createRoomExamine").value
          ),
          study: "",
          research: "",
        },
      };
      socket.emit("userSubmittedCreateRoom", roomData);
      createRoomForm.reset();
      createRoomForm.style.display = "none";
    });

    document
      .getElementById("cancelCreateRoomForm")
      .addEventListener("click", function () {
        createRoomForm.style.display = "none";
      });

    socket.on("openCreateRoomForm", (formData) => {
      // Update the direction select element
      createRoomDirection.innerHTML = ""; // Clear existing options
      formData.availableDirections.forEach((direction) => {
        const option = document.createElement("option");
        option.value = direction;
        option.textContent = direction;
        createRoomDirection.appendChild(option);
      });
      resetActiveSidebarElementTo(createRoomForm);
    });
  });
</script>
