<!-- create_user_form -->
<form
  id="createUserForm"
  class="sideForm"
  style="display: none"
  autocomplete="off"
>
  <ul>
    <li>
      <a class="cancelButton" id="cancelCreateUserForm"> Cancel </a>
    </li>
  </ul>
  <h2>Create User</h2>
  <ul>
    <li>
      <label for="newUserName">Name:</label>
      <input
        id="newUserName"
        name="newUserName"
        type="text"
        maxlength="18"
        value=""
        autocomplete="off"
        required
      />
    </li>
    <li>
      <label for="new-password">Password:</label>
      <input
        id="new-password"
        name="password"
        type="password"
        value=""
        autocomplete="off"
        required
      />
    </li>
    <li>
      <label for="pronouns">Pronouns:</label>
      <select id="pronouns" name="pronouns" required>
        <option value="0">He/Him</option>
        <option value="1">It/It</option>
        <option value="2">She/Her</option>
        <option value="3">They/Them</option>
      </select>
    </li>
    <li>
      <label for="job">Job:</label>
      <select id="job" name="job" required>
        <option value="cleric">Cleric</option>
        <option value="mage">Mage</option>
        <option value="rogue">Rogue</option>
        <option value="warrior">Warrior</option>
      </select>
    </li>
  </ul>
  <button type="submit">Create User</button>
</form>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const createUserForm = document.getElementById("createUserForm");
    const newUserName = document.getElementById("newUserName");
    const password = document.getElementById("new-password");

    createUserForm.addEventListener("submit", (e) => {
      e.preventDefault();
      const userData = {
        username: DOMPurify.sanitize(
          document.getElementById("newUserName").value.toLowerCase()
        ),
        name: DOMPurify.sanitize(document.getElementById("newUserName").value),
        password: document.getElementById("new-password").value,
        pronouns: document.getElementById("pronouns").value,
        job: document.getElementById("job").value,
      };
      socket.emit("userSubmittedCreateUser", userData);
      createUserForm.reset();
      createUserForm.style.display = "none";
    });

    document
      .getElementById("cancelCreateUserForm")
      .addEventListener("click", function () {
        createUserForm.style.display = "none";
      });

    socket.on("openCreateUserForm", () => {
      activeForm.reset();
      activeForm.style.display = "none";
      activeForm = createUserForm;
      activeForm.style.display = "block";
      input.value = "";
    });
  });
</script>
