<!-- create_zone_form -->
<form
  id="createZoneForm"
  class="sideForm"
  style="display: none"
  autocomplete="off"
>
  <ul>
    <li>
      <a class="cancelButton" id="cancelCreateZoneForm"> Cancel </a>
    </li>
  </ul>
  <h2>Create Zone</h2>
  <ul>
    <li>
      <label for="newZoneName">Name:</label>
      <input
        id="newZoneName"
        name="newZoneName"
        type="text"
        maxlength="36"
        required
      />
    </li>
    <li>
      <label for="newZoneMinutesToRespawn">Respawn:</label>
      <input
        id="newZoneMinutesToRespawn"
        name="newZoneMinutesToRespawn"
        type="number"
        min="5"
        max="180"
        value="15"
        required
      />
    </li>
    <h3>Description</h3>
    <li>
      <label for="newLookZone">Look:</label>
      <input id="newLookZone" name="newLookZone" type="text" maxlength="80" />
    </li>
    <li>
      <label for="newExamineZone">Examine:</label>
      <textarea
        id="newExamineZone"
        name="newExamineZone"
        type="text"
        maxlength="240"
      ></textarea>
    </li>
    <li>
      <label for="newStudyZone">Study:</label>
      <textarea
        id="newStudyZone"
        name="newStudyZone"
        type="text"
        maxlength="640"
      ></textarea>
    </li>
    <li>
      <label for="newResearchZone">Research:</label>
      <textarea
        id="newResearchZone"
        name="newResearchZone"
        type="text"
        maxlength="1600"
      ></textarea>
    </li>
  </ul>

  <ul>
    <li>
      <button type="submit">Create Zone</button>
    </li>
  </ul>
</form>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const createZoneForm = document.getElementById("createZoneForm");

    createZoneForm.addEventListener("submit", (e) => {
      e.preventDefault();
      const createZoneFormData = {
        name: DOMPurify.sanitize(document.getElementById("newZoneName").value),
        minutesToRespawn: Number(
          document.getElementById("newZoneMinutesToRespawn").value
        ),
        description: {
          look: DOMPurify.sanitize(
            document.getElementById("newLookZone").value
          ),
          examine: DOMPurify.sanitize(
            document.getElementById("newExamineZone").value
          ),
          study: DOMPurify.sanitize(
            document.getElementById("newStudyZone").value
          ),
          research: DOMPurify.sanitize(
            document.getElementById("newResearchZone").value
          ),
        },
      };
      socket.emit("userSubmittedNewZone", createZoneFormData);
      createZoneForm.reset();
      createZoneForm.style.display = "none";
    });

    document
      .getElementById("cancelCreateZoneForm")
      .addEventListener("click", function () {
        createZoneForm.style.display = "none";
      });

    socket.on("openCreateZoneForm", () => {
      activeForm.reset();
      activeForm.style.display = "none";
      activeForm = createZoneForm;
      activeForm.style.display = "block";
      input.value = "";
      appendSafeMessageToTerminal({
        type: "help",
        content: `Create Zone`,
      });
      appendSafeMessageToTerminal({
        type: "help",
        content: `<span style="color:var(--red)">Name: </span> the zone's title, e.g. "The Mushroom City"</span>`,
      });
      appendSafeMessageToTerminal({
        type: "help",
        content: `<span style="color:var(--red)">Respawn: </span> minutes before most mobs, doors, and items respawn`,
      });
      appendSafeMessageToTerminal({
        type: "help",
        content: `<span style="color:var(--red)">Look: </span> player sees this sentence when they survey the wilderness,`,
      });
      appendSafeMessageToTerminal({
        type: "help",
        content: `  e.g. "Clouds of spores and odd, fungal shapes protrude from the horizon."`,
      });
      appendSafeMessageToTerminal({
        type: "help",
        content: `<span style="color:var(--red)">Examine: </span> player sees this paragraph when they examine the zone`,
      });
      appendSafeMessageToTerminal({
        type: "help",
        content: `<span style="color:var(--red)">Study: </span> player sees more history when they study the zone`,
      });
      appendSafeMessageToTerminal({
        type: "help",
        content: `<span style="color:var(--red)">Research: </span> these paragraphs tell the full history of the zone.`,
      });
      appendSafeMessageToTerminal({
        type: "help",
        content: `  A good research text rewards the reader with some secrets about the zone.`,
      });
    });
  });
</script>
