<!-- create_item_blueprint_form -->
<form
  id="createItemBlueprintForm"
  class="sideForm"
  style="display: none"
  autocomplete="off"
>
  <ul>
    <li>
      <a class="cancelButton" id="cancelCreateItemBlueprintForm"> Cancel </a>
    </li>
  </ul>
  <h2>Create Item Blueprint</h2>
  <ul>
    <li>
      <label for="newItemName">Name:</label>
      <input
        id="newItemName"
        name="newItemName"
        type="text"
        maxlength="36"
        required
      />
    </li>
    <li>
      <label for="newItemKeywords">Keywords:</label>
      <input
        id="newItemKeywords"
        name="newItemKeywords"
        type="text"
        maxlength="80"
        required
      />
    </li>

    <li style="display: inline-block">
      <label for="newItemType">Type:</label>
      <select id="newItemType" name="newItemType" required>
        <option value="armor">armor</option>
        <option value="fishing_rod">fishing rod</option>
        <option value="gold">gold</option>
        <option value="key">key</option>
        <option value="none" selected>none</option>
        <option value="potion">potion</option>
        <option value="scroll">scroll</option>
        <option value="token">token</option>
        <option value="treasure">treasure</option>
        <option value="wand">wand</option>
        <option value="weapon">weapon</option>
      </select>
    </li>
    <li style="display: inline-block">
      <label for="newItemMinimumLevel">MinLvl:</label>
      <input
        style="width: 3.9rem; margin-right: 0"
        type="number"
        id="newItemMinimumLevel"
        name="newItemMinimumLevel"
        min="0"
        max="31"
        value="0"
        required
      />
    </li>

    <li style="display: inline-block">
      <label for="newItemPrice">Price:</label>
      <input
        class="stubbySelect"
        type="number"
        id="newItemPrice"
        name="newItemPrice"
        min="0"
        max="100000"
        value="0"
        required
      />
    </li>
    <li style="display: inline-block">
      <label for="newItemIsContainer">Container: </label>
      <input
        type="checkbox"
        id="newItemIsContainer"
        name="newItemIsContainer"
      />
    </li>

    <h3>Description</h3>
    <li>
      <label for="newLookItem">Look:</label>
      <input id="newLookItem" name="newLookItem" type="text" maxlength="80" />
    </li>
    <li>
      <label for="newExamineItem">Examine:</label>
      <textarea
        id="newExamineItem"
        name="newExamineItem"
        type="text"
        maxlength="240"
      ></textarea>
    </li>
  </ul>

  <ul>
    <li>
      <button type="submit">Create Item Blueprint</button>
    </li>
  </ul>
</form>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const createItemBlueprintForm = document.getElementById(
      "createItemBlueprintForm"
    );

    createItemBlueprintForm.addEventListener("submit", (e) => {
      e.preventDefault();
      const keywords = document
        .getElementById("newItemKeywords")
        .value.split(/[ ,]+/);
      const purifiedKeywords = object.keywords.map((keyword) =>
        DOMPurify.sanitize(keyword)
      );
      const createItemBlueprintFormData = {
        name: DOMPurify.sanitize(document.getElementById("newItemName").value),
        keywords: purifiedKeywords,
        price: document.getElementById("newItemPrice").value,
        minimumLevel: document.getElementById("newItemMinimumLevel").value,
        itemType: document.getElementById("newItemType").value,
        description: {
          look: DOMPurify.sanitize(
            document.getElementById("newLookItem").value
          ),
          examine: DOMPurify.sanitize(
            document.getElementById("newExamineItem").value
          ),
          study: "",
          research: "",
        },
        tags: {
          cleric: true,
          mage: true,
          rogue: true,
          warrior: true,
          dark: true,
          neutral: true,
          light: true, //can be equipped by players with a light aura
          guild: false,
          food: false,
          lamp: false, //lights up the room
          hidden: false,
          fixture: false,
          quest: false,
          temporary: false,
          container: document.getElementById("newItemIsContainer").checked,
        },
      };
      socket.emit("userSubmittedNewItemBlueprint", createItemBlueprintFormData);
      createItemBlueprintForm.reset();
      createItemBlueprintForm.style.display = "none";
    });

    document
      .getElementById("cancelCreateItemBlueprintForm")
      .addEventListener("click", function () {
        createItemBlueprintForm.style.display = "none";
      });

    socket.on("openCreateItemBlueprintForm", (formData) => {
      activeForm.reset();
      activeForm.style.display = "none";
      activeForm = createItemBlueprintForm;
      activeForm.style.display = "block";
      input.value = "";
      appendSafeMessageToTerminal({
        type: "help",
        content: `Create Item`,
      });
      appendSafeMessageToTerminal({
        type: "help",
        content: `<span style="color:var(--red)">Name: </span> e.g '<span style="color: var(--blue_light)">a green potion</span>' or '<span style="color: var(--blue_light)">Excaliburr the Frozen'</span>`,
      });
      appendSafeMessageToTerminal({
        type: "help",
        content: `<span style="color:var(--red)">Keywords: </span> e.g 'potion, green' or 'sword, Excaliburr, Frozen`,
      });
      appendSafeMessageToTerminal({
        type: "help",
        content: `<span style="color:var(--red)">Type: </span> each has its special features, except 'none'`,
      });
      appendSafeMessageToTerminal({
        type: "help",
        content: `<span style="color:var(--red)">MinLvl: </span> must be this level to use or equip`,
      });
      appendSafeMessageToTerminal({
        type: "help",
        content: `<span style="color:var(--red)">Price: </span> how much to purchase (selling price will be less)`,
      });
      appendSafeMessageToTerminal({
        type: "help",
        content: `<span style="color:var(--red)">Container: </span> can put or load other items inside`,
      });
      appendSafeMessageToTerminal({
        type: "help",
        content: `<span style="color:var(--red)">Look: </span> player sees this when they look or enter a room`,
      });
      appendSafeMessageToTerminal({
        type: "help",
        content: `<span style="color:var(--red)">Examine: </span> player sees this when they examine the item`,
      });
    });
  });
</script>
