<!-- create_mob_blueprint_form -->
<form
  id="createMobForm"
  class="sideForm"
  style="display: none"
  autocomplete="off"
>
  <section>
    <label for="newMobName">Name:</label>
    <input
      id="newMobName"
      name="newMobName"
      type="text"
      maxlength="36"
      required
    />
  </section>
  <section>
    <label for="newMobPronouns">Pronouns:</label>
    <select id="newMobPronouns" name="newMobPronouns" required>
      <option value="0">He/Him</option>
      <option value="1">It/It</option>
      <option value="2">She/Her</option>
      <option value="3">They/Them</option>
    </select>
  </section>
  <section>
    <label for="newMobLevel">Level:</label>
    <select id="newMobLevel" name="newMobLevel" required>
      <!-- populated by script -->
    </select>
    <label for="newMobJob">Job:</label>
    <select id="newMobJob" name="newMobJob" required>
      <option value="cleric">Cleric</option>
      <option value="mage">Mage</option>
      <option value="rogue">Rogue</option>
      <option value="warrior">Warrior</option>
    </select>
  </section>
  <!-- statBlock -->
  <section>
    <label for="newMobStr">Str:</label>
    <select id="newMobStr" name="newMobStr" required>
      <!-- populated by script -->
    </select>
    <label for="newMobDex">Dex:</label>
    <select id="newMobDex" name="newMobDex" required>
      <!-- populated by script -->
    </select>
    <label for="newMobCon">Con:</label>
    <select id="newMobCon" name="newMobCon" required>
      <!-- populated by script -->
    </select>
  </section>
  <section>
    <label for="newMobInt">Int:</label>
    <select id="newMobInt" name="newMobInt" required>
      <!-- populated by script -->
    </select>
    <label for="newMobWis">Wis:</label>
    <select id="newMobWis" name="newMobWis" required>
      <!-- populated by script -->
    </select>
    <label for="newMobSpi">Spi:</label>
    <input
      id="newMobSpi"
      name="newMobSpi"
      type="number"
      min="-1000"
      max="1000"
      value="0"
      step="100"
      required
    />
  </section>
  <section>
    <label for="newMobKeywords">Keywords:</label>
    <input id="newMobKeywords" name="newMobKeywords" maxlength="80" required />
  </section>
  <section>
    <input
      type="checkbox"
      id="newMobIsUnique"
      name="newMobIsUnique"
      value="isUnewMobIsUniquenique"
    />
    <label for="newMobIsUnique">Unique</label>
    <input
      type="checkbox"
      id="newMobIsMount"
      name="newMobIsMount"
      value="newMobIsMount"
    />
    <label for="newMobIsMount">Mount</label>

    <input
      type="checkbox"
      id="newMobIsAggressive"
      name="newMobIsAggressive"
      value="newMobIsAggressive"
    />
    <label for="newMobIsAggressive">Aggressive</label>
  </section>
  <section>
    <label for="newLookMob">Look:</label>
    <input id="newLookMob" name="newLookMob" type="text" maxlength="80" />
  </section>
  <section>
    <label for="newExamineMob">Examine:</label>
    <textarea
      id="newExamineMob"
      name="newExamineMob"
      type="text"
      maxlength="240"
    ></textarea>
  </section>
  <section>
    <label for="newStudyMob">Study:</label>
    <textarea
      id="newStudyMob"
      name="newStudyMob"
      type="text"
      maxlength="640"
    ></textarea>
  </section>
  <section>
    <label for="newResearchMob">Research:</label>
    <textarea
      id="newResearchMob"
      name="newResearchMob"
      type="text"
      maxlength="1600"
    ></textarea>
  </section>
  <button type="submit">Create Mob</button>
  <button type="button" id="cancelCreateMobForm">Cancel</button>
</form>

<script>
  const createMobForm = document.getElementById("createMobForm");

  document.addEventListener("DOMContentLoaded", () => {
    generateNumberSelectOptions(1, 31, document.getElementById("newMobLevel"));
    generateNumberSelectOptions(4, 18, document.getElementById("newMobStr"));
    generateNumberSelectOptions(4, 18, document.getElementById("newMobDex"));
    generateNumberSelectOptions(4, 18, document.getElementById("newMobCon"));
    generateNumberSelectOptions(4, 18, document.getElementById("newMobInt"));
    generateNumberSelectOptions(4, 18, document.getElementById("newMobWis"));
  });

  createMobForm.addEventListener("submit", (e) => {
    e.preventDefault();
    const createMobFormData = {
      _id: "",
      name: document.getElementById("newMobName").value,
      pronouns: Number(document.getElementById("newMobPronouns").value),
      level: Number(document.getElementById("newMobLevel").value),
      job: document.getElementById("newMobJob").value,
      statBlock: {
        strength: Number(document.getElementById("newMobStr").value),
        dexterity: Number(document.getElementById("newMobDex").value),
        constitution: Number(document.getElementById("newMobCon").value),
        intelligence: Number(document.getElementById("newMobInt").value),
        wisdom: Number(document.getElementById("newMobWis").value),
        charisma: 10,
        spirit: Number(document.getElementById("newMobSpi").value),
      },
      keywords: document.getElementById("newMobKeywords").value.split(/[ ,]+/),
      isUnique: document.getElementById("newMobIsUnique").checked,
      isMount: document.getElementById("newMobIsMount").checked,
      isAggressive: document.getElementById("newMobIsAggressive").checked,
      description: {
        look: document.getElementById("newLookMob").value,
        examine: document.getElementById("newExamineMob").value,
        study: document.getElementById("newStudyMob").value,
        research: document.getElementById("newResearchMob").value,
      },
    };
    socket.emit("userSubmittedNewMobBlueprint", createMobFormData);
    createMobForm.reset();
    createMobForm.style.display = "none"; // Hide the form after submission
  });

  document
    .getElementById("cancelCreateMobForm")
    .addEventListener("click", function () {
      createMobForm.style.display = "none";
    });

  socket.on("openCreateMobForm", (formData) => {
    console.log(
      `openCreateMobForm received formData: ${JSON.stringify(formData)}`
    );
    activeForm.reset();
    activeForm.style.display = "none";
    activeForm = createMobForm;
    activeForm.style.display = "block";
    input.value = "";
  });
</script>
