<!-- Edit user form -->
<form
  id="editUserForm"
  class="sideForm"
  style="display: none"
  autocomplete="off"
>
  <section>
    <label for="examineUser">Examine:</label>
    <textarea
      id="examineUser"
      name="examineUser"
      type="text"
      maxlength="240"
    ></textarea>
  </section>
  <section>
    <label for="studyUser">Study:</label>
    <textarea
      id="studyUser"
      name="studyUser"
      type="text"
      maxlength="640"
    ></textarea>
  </section>
  <section>
    <label for="researchUser">Research:</label>
    <textarea
      id="researchUser"
      name="researchUser"
      type="text"
      maxlength="1600"
    ></textarea>
  </section>
  <button type="submit">Update Description</button>
  <button type="button" id="cancelEditUserForm">Cancel</button>
</form>
