<!-- Edit mob select form -->
<form
  id="editMobSelect"
  class="sideForm"
  style="display: none"
  autocomplete="off"
>
  <section>
    <label for="editMobSelectName">Name:</label>
    <select id="editMobSelectName" name="editMobSelectName" required>
      <!-- populated by script -->
    </select>
  </section>
  <button type="submit">Select Mob</button>
  <button type="button" id="cancelEditMobSelect">Cancel</button>
</form>

<script>
  const editMobSelect = document.getElementById("editMobSelect");

  editMobSelect.addEventListener("submit", (e) => {
    e.preventDefault();
    editMobId = document.getElementById("editMobSelectName").value;
    socket.emit("userSelectedMobEdit", editMobId);
    editMobSelect.reset();
    editMobSelect.style.display = "none"; // Hide the form after submission
  });

  document
    .getElementById("cancelEditMobSelect")
    .addEventListener("click", function () {
      editMobSelect.style.display = "none";
    });
</script>
