<!-- Edit room form -->
<form
  id="editRoomForm"
  class="sideForm"
  style="display: none"
  autocomplete="off"
>
  <section>
    <label for="roomName">Name:</label>
    <input id="roomName" name="roomName" type="text" maxlength="60" required />
  </section>
  <section>
    <input type="checkbox" id="isDark" name="isDark" value="isDark" />
    <label for="isDark">Dark</label>
    <input type="checkbox" id="isIndoors" name="isIndoors" value="isIndoors" />
    <label for="isIndoors">Indoors</label>

    <input type="checkbox" id="isOnWater" name="isOnWater" value="isOnWater" />
    <label for="isOnWater">On Water</label>

    <input
      type="checkbox"
      id="isUnderwater"
      name="isUnderwater"
      value="isUnderwater"
    />
    <label for="isUnderwater">Underwater</label>
  </section>
  <section>
    <input type="checkbox" id="noMounts" name="noMounts" value="noMounts" />
    <label for="noMounts">No Mounts</label>
    <input type="checkbox" id="noMobs" name="noMobs" value="noMobs" />
    <label for="noMobs">No Mobs</label>

    <input type="checkbox" id="noMagic" name="noMagic" value="noMagic" />
    <label for="noMagic">No Magic</label>

    <input type="checkbox" id="noCombat" name="noCombat" value="noCombat" />
    <label for="noCombat">No Combat</label>
  </section>
  <section>
    <label for="examineRoom">Examine:</label>
    <textarea
      id="examineRoom"
      name="examineRoom"
      type="text"
      maxlength="240"
    ></textarea>
  </section>
  <section>
    <label for="studyRoom">Study:</label>
    <textarea
      id="studyRoom"
      name="studyRoom"
      type="text"
      maxlength="640"
    ></textarea>
  </section>
  <section>
    <label for="researchRoom">Research:</label>
    <textarea
      id="researchRoom"
      name="researchRoom"
      type="text"
      maxlength="1600"
    ></textarea>
  </section>
  <button type="submit">Update Room</button>
  <button type="button" id="cancelEditRoomForm">Cancel</button>
</form>

<script>
  const editRoomForm = document.getElementById("editRoomForm");

  editRoomForm.addEventListener("submit", (e) => {
    e.preventDefault();
    const roomData = {
      name: document.getElementById("roomName").value,
      direction: "",
      isDark: document.getElementById("isDark").checked,
      isIndoors: document.getElementById("isIndoors").checked,
      isOnWater: document.getElementById("isOnWater").checked,
      isUnderwater: document.getElementById("isUnderwater").checked,
      noMounts: document.getElementById("noMounts").checked,
      noMobs: document.getElementById("noMobs").checked,
      noMagic: document.getElementById("noMagic").checked,
      noCombat: document.getElementById("noCombat").checked,
      examine: document.getElementById("examineRoom").value,
      study: document.getElementById("studyRoom").value,
      research: document.getElementById("researchRoom").value,
    };
    socket.emit("userSubmittedRoomEdit", roomData);
    editRoomForm.reset();
    editRoomForm.style.display = "none"; // Hide the form after submission
  });

  document
    .getElementById("cancelEditRoomForm")
    .addEventListener("click", function () {
      editRoomForm.style.display = "none";
    });

  socket.on("openEditRoomForm", (formData) => {
    activeForm.reset();
    activeForm.style.display = "none";
    activeForm = editRoomForm;
    activeForm.style.display = "block";
    input.value = "";
    console.log(JSON.stringify(formData));
    // Set the values of the fields based on formData
    document.getElementById("roomName").value = formData.name || "";
    document.getElementById("isDark").checked = formData.isDark || false;
    document.getElementById("isIndoors").checked = formData.isIndoors || false;
    document.getElementById("isOnWater").checked = formData.isOnWater || false;
    document.getElementById("isUnderwater").checked =
      formData.isUnderwater || false;
    document.getElementById("noMounts").checked = formData.noMounts || false;
    document.getElementById("noMobs").checked = formData.noMobs || false;
    document.getElementById("noMagic").checked = formData.noMagic || false;
    document.getElementById("noCombat").checked = formData.noCombat || false;
    document.getElementById("examineRoom").value = formData.examine || "";
    document.getElementById("studyRoom").value = formData.study || "";
    document.getElementById("researchRoom").value = formData.research || "";
  });
</script>
