<!-- edit_mob_blueprint_form -->
<form
  id="editMobBlueprintForm"
  class="sideForm"
  style="display: none"
  autocomplete="off"
>
  <section>
    <label for="editMobName">Name:</label>
    <input
      id="editMobName"
      name="editMobName"
      type="text"
      maxlength="36"
      required
    />
  </section>
  <section>
    <label for="editMobPronouns">Pronouns:</label>
    <select id="editMobPronouns" name="editMobPronouns" type="number" required>
      <option value="0">He/Him</option>
      <option value="1">It/It</option>
      <option value="2">She/Her</option>
      <option value="3">They/Them</option>
    </select>
  </section>
  <section>
    <label for="editMobLevel">Level:</label>
    <select id="editMobLevel" name="editMobLevel" type="number" required>
      <!-- populated by script -->
    </select>
    <label for="editMobJob">Job:</label>
    <select id="editMobJob" name="editMobJob" required>
      <option value="cleric">Cleric</option>
      <option value="mage">Mage</option>
      <option value="rogue">Rogue</option>
      <option value="warrior">Warrior</option>
    </select>
  </section>
  <!-- statBlock -->
  <section>
    <label for="editMobStr">Str:</label>
    <select id="editMobStr" name="editMobStr" type="number" required>
      <!-- populated by script -->
    </select>
    <label for="editMobDex">Dex:</label>
    <select id="editMobDex" name="editMobDex" type="number" required>
      <!-- populated by script -->
    </select>
    <label for="editMobCon">Con:</label>
    <select id="editMobCon" name="editMobCon" type="number" required>
      <!-- populated by script -->
    </select>
  </section>
  <section>
    <label for="editMobInt">Int:</label>
    <select id="editMobInt" name="editMobInt" type="number" required>
      <!-- populated by script -->
    </select>
    <label for="editMobWis">Wis:</label>
    <select id="editMobWis" name="editMobWis" type="number" required>
      <!-- populated by script -->
    </select>
    <label for="editMobSpi">Spi:</label>
    <input
      id="editMobSpi"
      name="editMobSpi"
      type="number"
      min="-1000"
      max="1000"
      value="0"
      step="100"
      required
    />
  </section>
  <section>
    <label for="editMobKeywords">Keywords:</label>
    <input
      id="editMobKeywords"
      name="editMobKeywords"
      maxlength="80"
      required
    />
  </section>
  <section>
    <input
      type="checkbox"
      id="editMobIsUnique"
      name="editMobIsUnique"
      value="editMobIsUnique"
    />
    <label for="editMobIsUnique">Unique</label>
    <input
      type="checkbox"
      id="editMobIsMount"
      name="editMobIsMount"
      value="editMobIsMount"
    />
    <label for="editMobIsMount">Mount</label>

    <input
      type="checkbox"
      id="editMobIsAggressive"
      name="editMobIsAggressive"
      value="editMobIsAggressive"
    />
    <label for="editMobIsAggressive">Aggressive</label>
  </section>
  <section>
    <label for="editLookMob">Look:</label>
    <input id="editLookMob" name="editLookMob" type="text" maxlength="80" />
  </section>
  <section>
    <label for="editExamineMob">Examine:</label>
    <textarea
      id="editExamineMob"
      name="editExamineMob"
      type="text"
      maxlength="240"
    ></textarea>
  </section>
  <section>
    <label for="editStudyMob">Study:</label>
    <textarea
      id="editStudyMob"
      name="editStudyMob"
      type="text"
      maxlength="640"
    ></textarea>
  </section>
  <section>
    <label for="editResearchMob">Research:</label>
    <textarea
      id="editResearchMob"
      name="editResearchMob"
      type="text"
      maxlength="1600"
    ></textarea>
  </section>
  <button type="submit">Update Mob</button>
  <button type="button" id="cancelEditMobBlueprintForm">Cancel</button>
</form>

<script>
  const editMobBlueprintForm = document.getElementById("editMobBlueprintForm");
 
  editMobBlueprintForm.addEventListener("submit", (e) => {
    e.preventDefault();
    const mobId = editMobId;
    const editMobBlueprintFormData = {
      name: document.getElementById("editMobName").value,
      pronouns: Number(document.getElementById("editMobPronouns").value),
      level: Number(document.getElementById("editMobLevel").value),
      job: document.getElementById("editMobJob").value,
      statBlock: {
        strength: Number(document.getElementById("editMobStr").value),
        dexterity: Number(document.getElementById("editMobDex").value),
        constitution: Number(document.getElementById("editMobCon").value),
        intelligence: Number(document.getElementById("editMobInt").value),
        wisdom: Number(document.getElementById("editMobWis").value),
        charisma: 10,
        spirit: Number(document.getElementById("editMobSpi").value),
      },
      keywords: document.getElementById("editMobKeywords").value.split(/[ ,]+/),
      isUnique: document.getElementById("editMobIsUnique").checked,
      isMount: document.getElementById("editMobIsMount").checked,
      isAggressive: document.getElementById("editMobIsAggressive").checked,
      description: {
        look: document.getElementById("editLookMob").value,
        examine: document.getElementById("editExamineMob").value,
        study: document.getElementById("editStudyMob").value,
        research: document.getElementById("editResearchMob").value,
      },
    };
    socket.emit(
      "userSubmittedEditMobBlueprint",
      mobId,
      editMobBlueprintFormData
    );
    editMobBlueprintForm.reset();
    editMobBlueprintForm.style.display = "none"; // Hide the form after submission
  });
  
  document
    .getElementById("cancelEditMobBlueprintForm")
    .addEventListener("click", function () {
      editMobBlueprintForm.style.display = "none";
    });
</script>
