<!-- edit_item_blueprint_form -->
<form
  id="editItemBlueprintForm"
  class="sideForm"
  style="display: none"
  autocomplete="off"
>
  <ul>
    <li>
      <a class="cancelButton" id="cancelEditItemBlueprintForm"> Cancel </a>
    </li>
  </ul>
  <h2>
    Edit Item
    <span class="nodeId" id="editItemIdDisplay"
      >Error: Item Id should be here</span
    >
  </h2>
  <div class="tabs">
    <button
      id="editItemGeneralTab"
      type="button"
      class="tab-link edit-item-tab-link active"
      data-tab="editItemGeneralSection"
    >
      General
    </button>
    <button
      id="editItemDescriptionTab"
      type="button"
      class="tab-link edit-item-tab-link"
      data-tab="editItemDescriptionSection"
    >
      Desc.
    </button>
    <button
      id="editItemTagsTab"
      type="button"
      class="tab-link edit-item-tab-link"
      data-tab="editItemTagsSection"
    >
      Tags
    </button>
    <button
      id="editItemItemNodesTab"
      style="display: none"
      type="button"
      class="tab-link edit-item-tab-link"
      data-tab="editItemItemNodesSection"
    >
      ItemNodes
    </button>
    <button
      id="editItemAffixesTab"
      type="button"
      class="tab-link edit-item-tab-link"
      data-tab="editItemAffixesSection"
    >
      Affixes
    </button>
    <button
      id="editItemWeaponTab"
      style="display: none"
      type="button"
      class="tab-link edit-item-tab-link"
      data-tab="editItemWeaponPropertiesSection"
    >
      Weapon
    </button>
    <button
      id="editItemArmorTab"
      style="display: none"
      type="button"
      class="tab-link edit-item-tab-link"
      data-tab="editItemWearableLocations"
    >
      Armor
    </button>
    <button
      id="editItemSpellTab"
      style="display: none"
      type="button"
      class="tab-link edit-item-tab-link"
      data-tab="editItemSpellPropertiesSection"
    >
      Spell
    </button>
  </div>
  <section
    class="tab-content edit-item-tab-content"
    id="editItemGeneralSection"
    style="display: block"
  >
    <ul>
      <li>
        <label for="editItemSelectItem">Item:</label>
        <select id="editItemSelectItem" name="editItemSelectItem" required>
          <!-- populated by script -->
        </select>
      </li>
      <li>
        <label for="editItemName">Name:</label>
        <input
          id="editItemName"
          name="editItemName"
          type="text"
          maxlength="36"
          required
        />
      </li>
      <li>
        <label for="editItemKeywords">Keywords:</label>
        <input
          id="editItemKeywords"
          name="editItemKeywords"
          maxlength="80"
          required
        />
      </li>
      <li style="display: inline-block">
        <label for="editItemPrice">Price:</label>
        <input
          style="width: 6rem"
          type="number"
          id="editItemPrice"
          name="editItemPrice"
          min="0"
          max="100000"
          value="0"
          required
        />
      </li>
      <li style="display: inline-block">
        <label style="min-width: 0" for="editItemMinimumLevel">MinLvl:</label>
        <input
          style="width: 3.9rem"
          type="number"
          id="editItemMinimumLevel"
          name="editItemMinimumLevel"
          min="0"
          max="31"
          value="0"
          required
        />
      </li>
      <li>
        <label for="editItemType">Type:</label>
        <select id="editItemType" name="editItemType" required>
          <!-- populated by script -->
        </select>
      </li>
    </ul>
  </section>
  <section
    class="tab-content edit-item-tab-content"
    id="editItemDescriptionSection"
    style="display: none"
  >
    <h3>Description</h3>
    <ul>
      <li>
        <label for="editLookItem">Look:</label>
        <input
          id="editLookItem"
          name="editLookItem"
          type="text"
          maxlength="80"
        />
      </li>
      <li>
        <label for="editExamineItem">Examine:</label>
        <textarea
          id="editExamineItem"
          name="editExamineItem"
          type="text"
          maxlength="240"
        ></textarea>
      </li>
      <li>
        <label for="editStudyItem">Study:</label>
        <textarea
          id="editStudyItem"
          name="editStudyItem"
          type="text"
          maxlength="640"
        ></textarea>
      </li>
      <li>
        <label for="editResearchItem">Research:</label>
        <textarea
          id="editResearchItem"
          name="editResearchItem"
          type="text"
          maxlength="1600"
        ></textarea>
      </li>
    </ul>
  </section>
  <section
    class="tab-content edit-item-tab-content"
    id="editItemTagsSection"
    style="display: none"
  >
    <h3>Tags</h3>
    <ul>
      <div style="display: inline-block; width: 48%">
        <li>
          <label for="editItemCleric">Cleric:</label>
          <input type="checkbox" id="editItemCleric" name="editItemCleric" />
        </li>
        <li>
          <label for="editItemMage">Mage:</label>
          <input type="checkbox" id="editItemMage" name="editItemMage" />
        </li>
        <li>
          <label for="editItemRogue">Rogue:</label>
          <input type="checkbox" id="editItemRogue" name="editItemRogue" />
        </li>
        <li>
          <label for="editItemWarrior">Warrior:</label>
          <input type="checkbox" id="editItemWarrior" name="editItemWarrior" />
        </li>
        <li>
          <label for="editItemDark">Dark:</label>
          <input type="checkbox" id="editItemDark" name="editItemDark" />
        </li>
        <li>
          <label for="editItemNeutral">Neutral:</label>
          <input type="checkbox" id="editItemNeutral" name="editItemNeutral" />
        </li>
        <li>
          <label for="editItemLight">Light:</label>
          <input type="checkbox" id="editItemLight" name="editItemLight" />
        </li>
      </div>
      <div style="display: inline-block; width: 48%">
        <li>
          <label for="editItemFood">Food:</label>
          <input type="checkbox" id="editItemFood" name="editItemFood" />
        </li>
        <li>
          <label for="editItemLamp">Lamp:</label>
          <input type="checkbox" id="editItemLamp" name="editItemLamp" />
        </li>
        <li>
          <label for="editItemHidden">Hidden:</label>
          <input type="checkbox" id="editItemHidden" name="editItemHidden" />
        </li>
        <li>
          <label for="editItemFixture">Fixture:</label>
          <input type="checkbox" id="editItemFixture" name="editItemFixture" />
        </li>
        <li>
          <label for="editItemQuest">Quest:</label>
          <input type="checkbox" id="editItemQuest" name="editItemQuest" />
        </li>
        <li>
          <label for="editItemTemporary">Temporary:</label>
          <input
            type="checkbox"
            id="editItemTemporary"
            name="editItemTemporary"
          />
        </li>
        <li>
          <label for="editItemContainer">Container:</label>
          <input
            type="checkbox"
            id="editItemContainer"
            name="editItemContainer"
          />
        </li>
      </div>
    </ul>
  </section>
  <section
    class="tab-content edit-item-tab-content"
    id="editItemItemNodesSection"
    style="display: none"
  >
    <h3>Item Nodes</h3>
    <ul>
      <li>
        <label for="editItemCapacity">Capacity:</label>
        <input
          style="width: 6rem"
          type="number"
          id="editItemCapacity"
          name="editItemCapacity"
          min="0"
          max="200"
          value="1"
          required
        />
      </li>
    </ul>
    <ul class="nodeList" id="editItemItemNodeList">
      <!-- loaded via script -->
    </ul>
    <ul class="addNodeContainer">
      <li>
        <!-- item select and add button -->
        <select
          id="editItemItemNodeSelect"
          name="editItemItemNodeSelect"
          required
        >
          <!-- populated by script -->
        </select>
        <button type="button" class="addNode" id="editItemItemNodeAdd">
          add
        </button>
      </li>
    </ul>
  </section>
  <section
    class="tab-content edit-item-tab-content"
    id="editItemAffixesSection"
    style="display: none"
  >
    <h3>Affixes</h3>
    <ul>
      <li>
        <label for="editItemAffix1">Affix1:</label>
        <select id="editItemAffix1" name="editItemAffix1" required>
          <!-- populated by script -->
        </select>
      </li>
      <li>
        <label for="editItemAffix2">Affix2:</label>
        <select id="editItemAffix2" name="editItemAffix2" required>
          <!-- populated by script -->
        </select>
      </li>
      <li>
        <label for="editItemAffix3">Affix3:</label>
        <select id="editItemAffix3" name="editItemAffix3" required>
          <!-- populated by script -->
        </select>
      </li>
    </ul>
  </section>
  <section
    id="editItemWeaponPropertiesSection"
    style="display: none"
    class="tab-content edit-item-tab-content"
  >
    <h3>Weapon Properties</h3>
    <ul>
      <li style="display: inline-block">
        <label
          style="min-width: 0; margin-right: 0"
          for="editItemDamageDieQuantity"
          >Damage:</label
        >
        <input
          style="width: 3.4rem"
          type="number"
          id="editItemDamageDieQuantity"
          name="editItemDamageDieQuantity"
          min="1"
          max="9"
          value="1"
          required
        />
      </li>
      <li style="display: inline-block">
        <label
          style="min-width: 0; margin-left: 0; margin-right: 0"
          for="editItemDamageDieSides"
          >d</label
        >
        <input
          style="width: 3.9rem"
          type="number"
          id="editItemDamageDieSides"
          name="editItemDamageDieSides"
          min="4"
          max="12"
          value="4"
          required
        />
      </li>
      <li style="display: inline-block">
        <label
          style="min-width: 0; margin-left: 0"
          for="editItemDamageType"
        ></label>
        <select id="editItemDamageType" name="editItemDamageType" required>
          <!-- populated by script -->
        </select>
      </li>
      <li>
        <label for="editItemIsFinesse">Finesse:</label>
        <input
          type="checkbox"
          id="editItemIsFinesse"
          name="editItemIsFinesse"
        />
      </li>
      <li>
        <label for="editItemIsLight">Light:</label>
        <input type="checkbox" id="editItemIsLight" name="editItemIsLight" />
      </li>
      <li>
        <label for="editItemIsReach">Reach:</label>
        <input type="checkbox" id="editItemIsReach" name="editItemIsReach" />
      </li>
      <li>
        <label for="editItemIsRanged">Ranged:</label>
        <input type="checkbox" id="editItemIsRanged" name="editItemIsRanged" />
      </li>
      <li>
        <label for="editItemIsTwohand">TwoHand:</label>
        <input
          type="checkbox"
          id="editItemIsTwohand"
          name="editItemIsTwohand"
        />
      </li>
    </ul>
  </section>
  <section
    class="tab-content edit-item-tab-content"
    id="editItemWearableLocations"
    style="display: none"
  >
    <h3>Wearable Locations</h3>
    <ul>
      <li>
        <label for="editItemHead">Head:</label>
        <input type="checkbox" id="editItemHead" name="editItemHead" />
      </li>
      <li>
        <label for="editItemEars">Ears:</label>
        <input type="checkbox" id="editItemEars" name="editItemEars" />
      </li>
      <li>
        <label for="editItemNeck">Neck:</label>
        <input type="checkbox" id="editItemNeck" name="editItemNeck" />
      </li>
      <li>
        <label for="editItemShoulders">Shoulders:</label>
        <input
          type="checkbox"
          id="editItemShoulders"
          name="editItemShoulders"
        />
      </li>
      <li>
        <label for="editItemBody">Body:</label>
        <input type="checkbox" id="editItemBody" name="editItemBody" />
      </li>
      <li>
        <label for="editItemArms">Arms:</label>
        <input type="checkbox" id="editItemArms" name="editItemArms" />
      </li>
      <li>
        <label for="editItemWrists">Wrists:</label>
        <input type="checkbox" id="editItemWrists" name="editItemWrists" />
      </li>
      <li>
        <label for="editItemHands">Hands:</label>
        <input type="checkbox" id="editItemHands" name="editItemHands" />
      </li>
      <li>
        <label for="editItemFingers">Fingers:</label>
        <input type="checkbox" id="editItemFingers" name="editItemFingers" />
      </li>
      <li>
        <label for="editItemWaist">Waist:</label>
        <input type="checkbox" id="editItemWaist" name="editItemWaist" />
      </li>
      <li>
        <label for="editItemLegs">Legs:</label>
        <input type="checkbox" id="editItemLegs" name="editItemLegs" />
      </li>
      <li>
        <label for="editItemFeet">Feet:</label>
        <input type="checkbox" id="editItemFeet" name="editItemFeet" />
      </li>
      <li>
        <label for="editItemShield">Shield:</label>
        <input type="checkbox" id="editItemShield" name="editItemShield" />
      </li>
    </ul>
  </section>
  <section
    id="editItemSpellPropertiesSection"
    style="display: none"
    class="tab-content edit-item-tab-content"
  >
    <h3>Spell Properties</h3>
    <ul>
      <li style="display: inline-block">
        <label for="editItemSpell">Spell:</label>
        <select id="editItemSpell" name="editItemSpell" required>
          <!-- populated by script -->
        </select>
      </li>
      <li style="display: inline-block">
        <label for="editItemSpellLevel">Level:</label>
        <input
          style="width: 4rem"
          type="number"
          id="editItemSpellLevel"
          name="editItemSpellLevel"
          min="1"
          max="31"
          value="1"
          required
        />
      </li>
      <li style="display: inline-block">
        <label for="editItemSpellCharges">Charges:</label>
        <input
          style="width: 4rem"
          type="number"
          id="editItemSpellCharges"
          name="editItemSpellCharges"
          min="1"
          max="20"
          value="1"
          required
        />
      </li>
    </ul>
  </section>
  <section>
    <ul>
      <li>
        <button type="submit">Update Item</button>
      </li>
    </ul>
  </section>
</form>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const editItemBlueprintForm = document.getElementById(
      "editItemBlueprintForm"
    );
    const editItemTabLinks = document.querySelectorAll(".edit-item-tab-link");
    const editItemTabContents = document.querySelectorAll(
      ".edit-item-tab-content"
    );
    const editItemGeneralTab = document.getElementById("editItemGeneralTab");
    const editItemDescriptionTab = document.getElementById(
      "editItemDescriptionTab"
    );
    const editItemTagsTab = document.getElementById("editItemTagsTab");
    const editItemItemNodesTab = document.getElementById(
      "editItemItemNodesTab"
    );
    const editItemArmorTab = document.getElementById("editItemArmorTab");
    const editItemAffixesTab = document.getElementById("editItemAffixesTab");
    const editItemWeaponTab = document.getElementById("editItemWeaponTab");
    const editItemSpellTab = document.getElementById("editItemSpellTab");
    const editItemIdDisplay = document.getElementById("editItemIdDisplay");

    const editItemSelectItem = document.getElementById("editItemSelectItem");
    const editItemName = document.getElementById("editItemName");
    const editItemKeywords = document.getElementById("editItemKeywords");
    const editItemPrice = document.getElementById("editItemPrice");
    const editItemMinimumLevel = document.getElementById(
      "editItemMinimumLevel"
    );
    const editItemType = document.getElementById("editItemType");

    const editItemWeaponPropertiesSection = document.getElementById(
      "editItemWeaponPropertiesSection"
    );
    const editItemDamageDieQuantity = document.getElementById(
      "editItemDamageDieQuantity"
    );
    const editItemDamageDieSides = document.getElementById(
      "editItemDamageDieSides"
    );
    const editItemDamageType = document.getElementById("editItemDamageType");
    const editItemIsFinesse = document.getElementById("editItemIsFinesse");
    const editItemIsLight = document.getElementById("editItemIsLight");
    const editItemIsReach = document.getElementById("editItemIsReach");
    const editItemIsRanged = document.getElementById("editItemIsRanged");
    const editItemIsTwohand = document.getElementById("editItemIsTwohand");

    const editItemSpellPropertiesSection = document.getElementById(
      "editItemSpellPropertiesSection"
    );
    const editItemSpell = document.getElementById("editItemSpell");
    const editItemSpellLevel = document.getElementById("editItemSpellLevel");
    const editItemSpellCharges = document.getElementById(
      "editItemSpellCharges"
    );

    const editLookItem = document.getElementById("editLookItem");
    const editExamineItem = document.getElementById("editExamineItem");
    const editStudyItem = document.getElementById("editStudyItem");
    const editResearchItem = document.getElementById("editResearchItem");

    const editItemCleric = document.getElementById("editItemCleric");
    const editItemMage = document.getElementById("editItemMage");
    const editItemRogue = document.getElementById("editItemRogue");
    const editItemWarrior = document.getElementById("editItemWarrior");
    const editItemDark = document.getElementById("editItemDark");
    const editItemNeutral = document.getElementById("editItemNeutral");
    const editItemLight = document.getElementById("editItemLight");
    const editItemFood = document.getElementById("editItemFood");
    const editItemLamp = document.getElementById("editItemLamp");
    const editItemHidden = document.getElementById("editItemHidden");
    const editItemFixture = document.getElementById("editItemFixture");
    const editItemQuest = document.getElementById("editItemQuest");
    const editItemTemporary = document.getElementById("editItemTemporary");
    const editItemContainer = document.getElementById("editItemContainer");

    const editItemCapacity = document.getElementById("editItemCapacity");
    // nodeList ul elements
    const editItemItemNodeList = document.getElementById(
      "editItemItemNodeList"
    );
    const editItemItemNodeSelect = document.getElementById(
      "editItemItemNodeSelect"
    );

    const editItemAffix1 = document.getElementById("editItemAffix1");
    const editItemAffix2 = document.getElementById("editItemAffix2");
    const editItemAffix3 = document.getElementById("editItemAffix3");

    const editItemHead = document.getElementById("editItemHead");
    const editItemEars = document.getElementById("editItemEars");
    const editItemNeck = document.getElementById("editItemNeck");
    const editItemShoulders = document.getElementById("editItemShoulders");
    const editItemBody = document.getElementById("editItemBody");
    const editItemArms = document.getElementById("editItemArms");
    const editItemWrists = document.getElementById("editItemWrists");
    const editItemHands = document.getElementById("editItemHands");
    const editItemFingers = document.getElementById("editItemFingers");
    const editItemWaist = document.getElementById("editItemWaist");
    const editItemLegs = document.getElementById("editItemLegs");
    const editItemFeet = document.getElementById("editItemFeet");
    const editItemShield = document.getElementById("editItemShield");

    // help arrays to message user when they click each tab
    const editItemGeneralHelp = [
      `================================== Edit Item ==================================`,
      `<span style="color:var(--red)">Name:</span> e.g '<span style="color: var(--blue_light)">a green potion</span>' or '<span style="color: var(--blue_light)">Excaliburr the Frozen'</span>`,
      `<span style="color:var(--red)">Keywords:</span> e.g 'potion, green' or 'sword, Excaliburr, Frozen`,
      `<span style="color:var(--red)">Price:</span> how much to purchase (selling price will be less)`,
      `<span style="color:var(--red)">MinLvl:</span> must be this level to use or equip`,
      `<span style="color:var(--red)">Type:</span> each has its special features, except 'none'`,
    ];
    const editItemDescriptionHelp = [
      `============================== Item Description ==============================`,
      `<span style="color:var(--red)">Look:</span> player sees this when they look or enter a room`,
      `<span style="color:var(--red)">Examine:</span> player sees this when they examine the item`,
      `<span style="color:var(--red)">Study:</span> player learns some history when they study the item`,
      `<span style="color:var(--red)">Research:</span> these paragraphs tell the full history of the item.`,
      `  A good research text rewards the reader with some secrets about the item.`,
    ];
    const editItemTagsHelp = [
      `================================ Item Tags ====================================`,
      `<span style="color:var(--red)">Cleric:</span> available to clerics`,
      `<span style="color:var(--red)">Mage:</span> available to mages`,
      `<span style="color:var(--red)">Rogue:</span> available to rogues`,
      `<span style="color:var(--red)">Warrior:</span> available to warriors`,
      `<span style="color:var(--red)">Dark:</span> available to players with dark aura`,
      `<span style="color:var(--red)">Neutral:</span> available to players with neutral aura`,
      `<span style="color:var(--red)">Light:</span> available to players with light aura`,
      `<span style="color:var(--red)">Food:</span> can be eaten and may hold a spell`,
      `<span style="color:var(--red)">Lamp:</span> lights up a dark room`,
      `<span style="color:var(--red)">Hidden:</span> not visible until you search`,
      `<span style="color:var(--red)">Fixture:</span> cannot be taken or moved (e.g. a cupboard)`,
      `<span style="color:var(--red)">Quest:</span> needed for a quest`,
      `<span style="color:var(--red)">Temporary:</span> deleted from inventory when you log out`,
      `<span style="color:var(--red)">Container:</span> can put or load other items inside`,
    ];
    const editItemItemNodesHelp = [
      `================================ Item Nodes ==================================`,
      `<span style="color:var(--red)">Capacity:</span> how many items can fit inside`,
      `An item node spawns that item into the container when the container is spawned.`,
      `Choose an item and click <span style="color:var(--green)">add</span> to create an item node for it.`,
      `Click <span style="color:var(--red)">remove</span> next to an existing node to remove it.`,
      `These changes won't be saved until you click "Update Item".`,
    ];
    const editItemAffixesHelp = [
      `================================ Item Affixes ================================`,
      `An affix boosts a player's stat while the item is equipped.`,
      `Each stat has a help file describing its effects (e.g. HELP DEXTERITY)`,
      `An item can have up to 3 affixes, and it's okay for some items to have none. `,
      `It's okay to have more than one affix on the same stat,`,
      `e.g. for a double or triple boost to dexterity on the same boots.`,
    ];
    const editItemWeaponHelp = [
      `============================= Weapon Properties ==============================`,
      `<span style="color:var(--red)">Damage:</span>The first number determines how many dice are rolled.`,
      `  The second is how many sides per die (ie the max roll per die).`,
      `  e.g. 3d4 Bludgeoning deals between 3-12 bludgeoning damage per hit.`,
      `<span style="color:var(--red)">Finesse:</span> uses dexterity to determine damage bonus`,
      `<span style="color:var(--red)">Light:</span> can be thrown or wielded in off-hand`,
      `<span style="color:var(--red)">Reach:</span> can hit from middle row of formation`,
      `<span style="color:var(--red)">Ranged:</span> can hit from back row of formation`,
      `<span style="color:var(--red)">Twohand:</span> can't be paired with a shield or off-hand`,
    ];
    const editItemArmorHelp = [
      `============================= Armor Locations ===============================`,
      `An item may fit on one location, or have multiple options.`,
      `(e.g. a long, golden chain might fit around the neck or around the waist)`,
    ];
    const editItemSpellHelp = [
      `============================= Spell Properties ===============================`,
      `Each spell has a help file describing its effects (e.g. HELP BLESS)`,
      `<span style="color:var(--red)">Level:</span> higher can mean stronger effect, more damage, longer duration, etc.`,
      `<span style="color:var(--red)">Charges:</span> how many times the item can be used before it disappears`,
    ];

    // to hold data from server on "edit item" command
    let selectedItem;
    let itemBlueprintNames;
    let itemBlueprintFullData;
    let selectedItemId = "";
    let spells;
    let itemTypes;
    let affixTypes;
    let damageTypes;

    // Tab menu listeners
    editItemTabLinks.forEach((link) => {
      link.addEventListener("click", function () {
        // Remove active class from all tab links and sections
        editItemTabLinks.forEach((link) => link.classList.remove("active"));
        editItemTabContents.forEach((section) =>
          section.classList.remove("active")
        );
        editItemTabContents.forEach(
          (section) => (section.style.display = "none")
        );

        // Add active class to the clicked tab and corresponding section
        this.classList.add("active");
        const target = document.getElementById(this.getAttribute("data-tab"));
        target.classList.add("active");
        target.style.display = "block";
      });
    });
    editItemGeneralTab.addEventListener("click", () =>
      showHelpArray(editItemGeneralHelp)
    );
    editItemDescriptionTab.addEventListener("click", () =>
      showHelpArray(editItemDescriptionHelp)
    );
    editItemTagsTab.addEventListener("click", () =>
      showHelpArray(editItemTagsHelp)
    );
    editItemItemNodesTab.addEventListener("click", () =>
      showHelpArray(editItemItemNodesHelp)
    );
    editItemAffixesTab.addEventListener("click", () =>
      showHelpArray(editItemAffixesHelp)
    );
    editItemWeaponTab.addEventListener("click", () =>
      showHelpArray(editItemWeaponHelp)
    );
    editItemArmorTab.addEventListener("click", () =>
      showHelpArray(editItemArmorHelp)
    );
    editItemSpellTab.addEventListener("click", () =>
      showHelpArray(editItemSpellHelp)
    );

    editItemBlueprintForm.addEventListener("submit", (e) => {
      e.preventDefault();
      const keywords = editItemKeywords.value.split(/[ ,]+/);
      const purifiedKeywords = keywords.map((keyword) =>
        DOMPurify.sanitize(keyword)
      );
      // TODO move weaponStats, spellCharges, and wearableLocations
      // out of this object definition, and add them conditionally
      // based on relevant item type before sending to server
      // (no need for this object to contain irrelevant properties,
      // and they are optional in the type)
      const editItemBlueprintFormData = {
        name: DOMPurify.sanitize(editItemName.value) || "no item name",
        keywords: purifiedKeywords,
        price: editItemPrice.value || 0,
        minimumLevel: editItemMinimumLevel.value || 0,
        itemType: editItemType.value,
        description: {
          look: DOMPurify.sanitize(editLookItem.value) || "",
          examine: DOMPurify.sanitize(editExamineItem.value) || "",
          study: DOMPurify.sanitize(editStudyItem.value) || "",
          research: DOMPurify.sanitize(editResearchItem.value) || "",
        },
        tags: {
          cleric: editItemCleric.checked || false,
          mage: editItemMage.checked || false,
          rogue: editItemRogue.checked || false,
          warrior: editItemWarrior.checked || false,
          dark: editItemDark.checked || false,
          neutral: editItemNeutral.checked || false,
          light: editItemLight.checked || false,
          guild: false,
          food: editItemFood.checked || false,
          lamp: editItemLamp.checked || false,
          hidden: editItemHidden.checked || false,
          fixture: editItemFixture.checked || false,
          quest: editItemQuest.checked || false,
          temporary: editItemTemporary.checked || false,
          container: editItemContainer.checked || false,
        },
      };
      if (editItemBlueprintFormData.itemType === "weapon") {
        editItemBlueprintFormData.weaponStats = {
          damageDieQuantity: editItemDamageDieQuantity.value || 1,
          damageDieSides: editItemDamageDieSides.value || 4,
          damageType: editItemDamageType.value || "bludgeoning",
          isFinesse: editItemIsFinesse.checked || false,
          isLight: editItemIsLight.checked || false,
          isReach: editItemIsReach.checked || false,
          isRanged: editItemIsRanged.checked || false,
          isTwohand: editItemIsTwohand.checked || false,
        };
      }
      if (
        editItemBlueprintFormData.itemType === "potion" ||
        editItemBlueprintFormData.itemType === "scroll" ||
        editItemBlueprintFormData.itemType === "wand"
      ) {
        editItemBlueprintFormData.spellCharges = {
          name: editItemSpell.value || "heal",
          level: editItemSpellLevel.value || 1,
          maxCharges: editItemSpellCharges.value || 1,
        };
      }
      if (editItemFood) {
        editItemBlueprintFormData.spellCharges = {
          name: editItemSpell.value || "none",
          level: editItemSpellLevel.value || 1,
          maxCharges: editItemSpellCharges.value || 1,
        };
      }
      if (editItemBlueprintFormData.itemType === "armor") {
        editItemBlueprintFormData.wearableLocations = {
          head: editItemHead.checked || false,
          ears: editItemEars.checked || false,
          neck: editItemNeck.checked || false,
          shoulders: editItemShoulders.checked || false,
          body: editItemBody.checked || false,
          arms: editItemArms.checked || false,
          wrist1: editItemWrists.checked || false,
          wrist2: editItemWrists.checked || false,
          hands: editItemHands.checked || false,
          finger1: editItemFingers.checked || false,
          finger2: editItemFingers.checked || false,
          waist: editItemWaist.checked || false,
          legs: editItemLegs.checked || false,
          feet: editItemFeet.checked || false,
          shield: editItemShield.checked || false,
        };
      }
      if (editItemBlueprintFormData.tags.container) {
        editItemBlueprintFormData.capacity = editItemCapacity || 10;
        editItemBlueprintFormData.itemNodes = selectedItem.itemNodes;
      }
      if (
        editItemBlueprintFormData.itemType === "armor" ||
        editItemBlueprintFormData.itemType === "weapon"
      ) {
        editItemBlueprintFormData.affixes = [];
        if (editItemAffix1.value !== "none") {
          editItemBlueprintFormData.affixes.push({
            affixType: editItemAffix1.value,
            value: 1,
          });
        }
        if (editItemAffix2.value !== "none") {
          editItemBlueprintFormData.affixes.push({
            affixType: editItemAffix2.value,
            value: 1,
          });
        }
        if (editItemAffix3.value !== "none") {
          editItemBlueprintFormData.affixes.push({
            affixType: editItemAffix3.value,
            value: 1,
          });
        }
      }
      socket.emit(
        "userSubmittedEditItemBlueprint",
        selectedItemId,
        editItemBlueprintFormData
      );
      editItemBlueprintForm.reset();
      hideEditItemTabs();
      editItemBlueprintForm.style.display = "none";
    });

    document
      .getElementById("cancelEditItemBlueprintForm")
      .addEventListener("click", function () {
        hideEditItemTabs();
        editItemBlueprintForm.style.display = "none";
      });

    editItemType.addEventListener("change", function (event) {
      hideAndShowEditItemTabs();
    });

    editItemContainer.addEventListener("change", function (event) {
      // logic to hide/show parts of form based on item type
      if (event.target.checked) {
        editItemItemNodesTab.style.display = "inline-block";
      } else {
        editItemItemNodesTab.style.display = "none";
      }
    });

    // click listener logic for "Add" button on item node select
    document
      .getElementById("editItemItemNodeAdd")
      .addEventListener("click", () => {
        //push new node to list
        selectedItem.itemNodes.push({
          _id: Math.floor(Math.random() * 1000000000), // server will generate legit id on zone save
          loadsBlueprintId: editItemItemNodeSelect.value,
        });
        //reload nodeList
        clearUl(editItemItemNodeList);
        loadNodesToUlElement(
          editItemItemNodeList,
          selectedItem.itemNodes,
          itemBlueprintNames
        );
      });

    editItemSelectItem.addEventListener("change", (e) => {
      selectedItemId = e.target.value;
      clearUl(editItemItemNodeList);
      populateEditItemFieldsFromId(selectedItemId);
      hideAndShowEditItemTabs();
    });

    editItemFood.addEventListener("change", (e) => {
      hideAndShowEditItemTabs();
    });

    socket.on("openEditItemBlueprintForm", (formData) => {
      itemBlueprintFullData = formData.itemBlueprintFullData;
      itemBlueprintNames = formData.itemBlueprintNames;
      spells = formData.spells;
      itemTypes = formData.itemTypes;
      affixTypes = formData.affixTypes;
      damageTypes = formData.damageTypes;

      // prepare fresh editItemBlueprintForm
      editItemBlueprintForm.reset();
      clearUl(editItemItemNodeList);
      generateStringSelectOptions(itemBlueprintNames, editItemItemNodeSelect);
      generateStringSelectOptions(spells, editItemSpell);
      generateStringSelectOptions(itemTypes, editItemType);
      generateStringSelectOptions(affixTypes, editItemAffix1);
      generateStringSelectOptions(affixTypes, editItemAffix2);
      generateStringSelectOptions(affixTypes, editItemAffix3);
      generateStringSelectOptions(damageTypes, editItemDamageType);

      //reset/hide open forms, show editItemBlueprintForm
      activeForm.reset();
      activeForm.style.display = "none";
      activeForm = editItemBlueprintForm;
      activeForm.style.display = "block";
      document.querySelector("#editItemGeneralTab").click();
      input.value = "";
      generateStringSelectOptions(
        formData.itemBlueprintNames,
        editItemSelectItem
      );
      selectedItemId = itemBlueprintNames[0]._id;
      populateEditItemFieldsFromId(selectedItemId);
      hideAndShowEditItemTabs();
    });

    function hideEditItemTabs() {
      editItemWeaponTab.style.display = "none";
      editItemArmorTab.style.display = "none";
      editItemItemNodesTab.style.display = "none";
      editItemSpellTab.style.display = "none";
      editItemAffixesTab.style.display = "none";
    }

    function populateEditItemFieldsFromId(selectedItemId) {
      // Find the selected item data
      selectedItem = itemBlueprintFullData.find(
        (item) => item._id === selectedItemId
      );
      if (selectedItem) {
        // Populate the form fields
        editItemIdDisplay.textContent =
          `Id: ${selectedItem._id}` || "error: no itemId";
        editItemName.value = selectedItem.name || "";
        editItemKeywords.value = selectedItem.keywords.join(", ") || "";
        editItemPrice.value = selectedItem.price || 0;
        editItemMinimumLevel.value = selectedItem.minimumLevel || 0;
        editItemType.value = selectedItem.itemType || "none";

        if (selectedItem.weaponStats) {
          editItemDamageDieQuantity.value =
            selectedItem.weaponStats.damageDieQuantity;
          editItemDamageDieSides.value =
            selectedItem.weaponStats.damageDieSides;
          editItemDamageType.value = selectedItem.weaponStats.damageType;
          editItemIsFinesse.checked = selectedItem.weaponStats.isFinesse;
          editItemIsLight.checked = selectedItem.weaponStats.isLight;
          editItemIsReach.checked = selectedItem.weaponStats.isReach;
          editItemIsRanged.checked = selectedItem.weaponStats.isRanged;
          editItemIsTwohand.checked = selectedItem.weaponStats.isTwohand;
        }

        if (selectedItem.spellCharges) {
          editItemSpell.value = selectedItem.spellCharges.name || "none";
          editItemSpellLevel.value = selectedItem.spellCharges.level;
          editItemSpellCharges.value = selectedItem.spellCharges.maxCharges;
        }

        editLookItem.value = selectedItem.description.look || "";
        editExamineItem.value = selectedItem.description.examine || "";
        editStudyItem.value = selectedItem.description.study || "";
        editResearchItem.value = selectedItem.description.research || "";

        editItemCleric.checked = selectedItem.tags.cleric || true;
        editItemMage.checked = selectedItem.tags.mage || true;
        editItemRogue.checked = selectedItem.tags.rogue || true;
        editItemWarrior.checked = selectedItem.tags.warrior || true;
        editItemDark.checked = selectedItem.tags.dark || true;
        editItemNeutral.checked = selectedItem.tags.neutral || true;
        editItemLight.checked = selectedItem.tags.light || true;
        editItemFood.checked = selectedItem.tags.food || false;
        editItemLamp.checked = selectedItem.tags.lamp || false;
        editItemHidden.checked = selectedItem.tags.hidden || false;
        editItemFixture.checked = selectedItem.tags.fixture || false;
        editItemQuest.checked = selectedItem.tags.quest || false;
        editItemTemporary.checked = selectedItem.tags.temporary || false;
        editItemContainer.checked = selectedItem.tags.container || false;

        editItemCapacity.value = selectedItem.capacity || 0;
        if (selectedItem.itemNodes) {
          loadNodesToUlElement(
            editItemItemNodeList,
            selectedItem.itemNodes,
            itemBlueprintNames
          );
        }

        if (
          selectedItem.affixes &&
          (selectedItem.itemType === "weapon" ||
            selectedItem.itemType === "armor")
        ) {
          if (selectedItem.affixes[0]) {
            editItemAffix1.value = selectedItem.affixes[0].affixType || "none";
          }
          if (selectedItem.affixes[1]) {
            editItemAffix2.value = selectedItem.affixes[1].affixType || "none";
          }
          if (selectedItem.affixes[2]) {
            editItemAffix3.value = selectedItem.affixes[2].affixType || "none";
          }
        }

        if (selectedItem.wearableLocations) {
          editItemHead.checked = selectedItem.wearableLocations.head || false;
          editItemEars.checked = selectedItem.wearableLocations.ears || false;
          editItemNeck.checked = selectedItem.wearableLocations.neck || false;
          editItemShoulders.checked =
            selectedItem.wearableLocations.shoulders || false;
          editItemBody.checked = selectedItem.wearableLocations.body || false;
          editItemArms.checked = selectedItem.wearableLocations.arms || false;
          editItemWrists.checked =
            selectedItem.wearableLocations.wrist1 || false;
          editItemHands.checked = selectedItem.wearableLocations.hands || false;
          editItemFingers.checked =
            selectedItem.wearableLocations.finger1 || false;
          editItemWaist.checked = selectedItem.wearableLocations.waist || false;
          editItemLegs.checked = selectedItem.wearableLocations.legs || false;
          editItemFeet.checked = selectedItem.wearableLocations.feet || false;
          editItemShield.checked =
            selectedItem.wearableLocations.shield || false;
        }
      }
    }

    function hideAndShowEditItemTabs() {
      hideEditItemTabs();
      switch (editItemType.value) {
        case "weapon":
          editItemWeaponTab.style.display = "inline-block";
          editItemAffixesTab.style.display = "inline-block";
          break;
        case "armor":
          editItemArmorTab.style.display = "inline-block";
          editItemAffixesTab.style.display = "inline-block";
          break;
        case "potion":
        case "scroll":
        case "wand":
          editItemSpellTab.style.display = "inline-block";
          break;
        default:
          break;
      }
      if (editItemContainer.checked) {
        editItemItemNodesTab.style.display = "inline-block";
      } else {
        editItemItemNodesTab.style.display = "none";
      }
      if (editItemFood.checked) {
        editItemSpellTab.style.display = "inline-block";
      }
    }
  });
</script>
