<!-- Edit user form -->
<form
  id="editUserForm"
  class="sideForm"
  style="display: none"
  autocomplete="off"
>
  <ul>
    <li>
      <a class="cancelButton" id="cancelEditUserForm"> Cancel </a>
    </li>
  </ul>
  <h2>Edit User</h2>
  <ul>
    <li>
      <label for="editUserExamine">Examine:</label>
      <textarea
        id="editUserExamine"
        name="editUserExamine"
        type="text"
        maxlength="240"
      ></textarea>
    </li>
    <li>
      <label for="editUserStudy">Study:</label>
      <textarea
        id="editUserStudy"
        name="editUserStudy"
        type="text"
        maxlength="640"
      ></textarea>
    </li>
    <li>
      <label for="editUserResearch">Research:</label>
      <textarea
        id="editUserResearch"
        name="editUserResearch"
        type="text"
        maxlength="1600"
      ></textarea>
    </li>
  </ul>
  <ul>
    <li>
      <button type="submit">Update User</button>
    </li>
  </ul>
</form>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const editUserForm = document.getElementById("editUserForm");
    const editUserExamine = document.getElementById("editUserExamine");
    const editUserStudy = document.getElementById("editUserStudy");
    const editUserResearch = document.getElementById("editUserResearch");

    editUserForm.addEventListener("submit", (e) => {
      e.preventDefault();
      const userDescription = {
        examine: DOMPurify.sanitize(editUserExamine.value),
        study: DOMPurify.sanitize(editUserStudy.value),
        research: DOMPurify.sanitize(editUserResearch.value),
      };
      socket.emit("userSubmittedEditUser", userDescription);
      editUserForm.reset();
      editUserForm.style.display = "none";
    });

    document
      .getElementById("cancelEditUserForm")
      .addEventListener("click", function () {
        editUserForm.style.display = "none";
      });

    socket.on("openEditUserForm", (formData) => {
      resetActiveSidebarElementTo(editUserForm);
      // Set the values of the textareas based on formData
      editUserExamine.value = formData.examine || "";
      editUserStudy.value = formData.study || "";
      editUserResearch.value = formData.research || "";
    });
  });
</script>
