<!-- edit_zone_form -->
<form
  id="editZoneForm"
  class="sideForm"
  style="display: none"
  autocomplete="off"
>
  <ul>
    <li>
      <a class="cancelButton" id="cancelEditZoneForm"> Cancel </a>
    </li>
  </ul>
  <h2>Edit Zone</h2>
  <ul>
    <li>
      <label for="editZoneName">Name:</label>
      <input
        id="editZoneName"
        name="editZoneName"
        type="text"
        maxlength="36"
        required
      />
    </li>
    <li>
      <label for="editZoneMinutesToRespawn">Respawn:</label>
      <input
        id="editZoneMinutesToRespawn"
        name="editZoneMinutesToRespawn"
        type="number"
        min="5"
        max="180"
        required
      />
    </li>
    <h3>Description</h3>
    <li>
      <label for="editZoneLook">Look:</label>
      <input id="editZoneLook" name="editZoneLook" type="text" maxlength="80" />
    </li>
    <li>
      <label for="editZoneExamine">Examine:</label>
      <textarea
        id="editZoneExamine"
        name="editZoneExamine"
        type="text"
        maxlength="240"
      ></textarea>
    </li>
    <li>
      <label for="editZoneStudy">Study:</label>
      <textarea
        id="editZoneStudy"
        name="editZoneStudy"
        type="text"
        maxlength="640"
      ></textarea>
    </li>
    <li>
      <label for="editZoneResearch">Research:</label>
      <textarea
        id="editZoneResearch"
        name="editZoneResearch"
        type="text"
        maxlength="1600"
      ></textarea>
    </li>
  </ul>

  <ul>
    <li>
      <button type="submit">Update Zone</button>
    </li>
  </ul>
</form>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    let zoneId;
    const editZoneForm = document.getElementById("editZoneForm");
    const editZoneName = document.getElementById("editZoneName");
    const editZoneMinutesToRespawn = document.getElementById(
      "editZoneMinutesToRespawn"
    );
    const editZoneLook = document.getElementById("editZoneLook");
    const editZoneExamine = document.getElementById("editZoneExamine");
    const editZoneStudy = document.getElementById("editZoneStudy");
    const editZoneResearch = document.getElementById("editZoneResearch");

    editZoneForm.addEventListener("submit", (e) => {
      e.preventDefault();
      const editZoneFormData = {
        name: DOMPurify.sanitize(editZoneName.value),
        minutesToRespawn: editZoneMinutesToRespawn.value,
        description: {
          look: DOMPurify.sanitize(editZoneLook.value),
          examine: DOMPurify.sanitize(editZoneExamine.value),
          study: DOMPurify.sanitize(editZoneStudy.value),
          research: DOMPurify.sanitize(editZoneResearch.value),
        },
      };
      socket.emit("userSubmittedEditZone", editZoneFormData);
      editZoneForm.reset();
      editZoneForm.style.display = "none";
    });

    document
      .getElementById("cancelEditZoneForm")
      .addEventListener("click", function () {
        editZoneForm.style.display = "none";
      });

    socket.on("openEditZoneForm", (formData) => {
      resetActiveSidebarElementTo(editZoneForm);
      // Set the values of the fields based on formData
      zoneId = formData.zoneId;
      editZoneName.value = formData.name || "";
      editZoneMinutesToRespawn.value = formData.minutesToRespawn || 15;
      editZoneLook.value = formData.description.look || "";
      editZoneExamine.value = formData.description.examine || "";
      editZoneStudy.value = formData.description.study || "";
      editZoneResearch.value = formData.description.research || "";
    });
  });
</script>
