<!-- Edit user form -->
<form
  id="editUserForm"
  class="sideForm"
  style="display: none"
  autocomplete="off"
>
  <ul>
    <li>
      <a class="cancelButton" id="cancelEditUserForm"> Cancel </a>
    </li>
  </ul>
  <h2>Edit User</h2>
  <ul>
    <li>
      <label for="editUserExamineUser">Examine:</label>
      <textarea
        id="editUserExamineUser"
        name="editUserExamineUser"
        type="text"
        maxlength="240"
      ></textarea>
    </li>
    <li>
      <label for="editUserStudyUser">Study:</label>
      <textarea
        id="editUserStudyUser"
        name="editUserStudyUser"
        type="text"
        maxlength="640"
      ></textarea>
    </li>
    <li>
      <label for="editUserResearchUser">Research:</label>
      <textarea
        id="editUserResearchUser"
        name="editUserResearchUser"
        type="text"
        maxlength="1600"
      ></textarea>
    </li>
  </ul>
  <ul>
    <li>
      <button type="submit">Update Character</button>
    </li>
  </ul>
</form>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const editUserForm = document.getElementById("editUserForm");
    const editUserExamineUser = document.getElementById("editUserExamineUser");
    const editUserStudyUser = document.getElementById("editUserStudyUser");
    const editUserResearchUser = document.getElementById(
      "editUserResearchUser"
    );

    editUserForm.addEventListener("submit", (e) => {
      e.preventDefault();
      const userDescription = {
        examine: DOMPurify.sanitize(editUserExamineUser.value),
        study: DOMPurify.sanitize(editUserStudyUser.value),
        research: DOMPurify.sanitize(editUserResearchUser.value),
      };
      socket.emit("userSubmittedEditUser", userDescription);
      editUserForm.reset();
      editUserForm.style.display = "none";
    });

    document
      .getElementById("cancelEditUserForm")
      .addEventListener("click", function () {
        editUserForm.style.display = "none";
      });

    socket.on("openEditUserForm", (formData) => {
      activeForm.reset();
      activeForm.style.display = "none";
      activeForm = editUserForm;
      activeForm.style.display = "block";
      input.value = "";
      const helpArray = [
        `================================ Create User =================================`,
        `<span style="color:var(--red)">Name:</span> Must be letters only (max. 18), no unique irl names (e.g. no "Obama")</span>.`,
        `<span style="color:var(--red)">Password:</span> Has min. 8 characters, including uppercase, lowercase, <u>and</u> number.`,
        `<span style="color:var(--red)">Pronouns:</span> Pronouns may appear in place of a name ("Greg eats." vs "<u>He</u> eats.").`,
        `<span style="color:var(--red)">Job:</span> This determines abilities, spells, and fighting style in combat.`,
      ];
      showHelpArray(helpArray);
      // Set the values of the textareas based on formData
      editUserExamineUser.value = formData.examine || "";
      editUserStudyUser.value = formData.study || "";
      editUserResearchUser.value = formData.research || "";
    });
  });
</script>
