<!-- Edit mob select form -->
<form
  id="editMobSelect"
  class="sideForm"
  style="display: none"
  autocomplete="off"
>
  <section>
    <label for="editMobSelectName">Name:</label>
    <select id="editMobSelectName" name="editMobSelectName" required>
      <!-- populated by script -->
    </select>
  </section>
  <button type="submit">Select Mob</button>
  <button type="button" id="cancelEditMobSelect">Cancel</button>
</form>
