<!-- Edit room form -->
<form
  id="editRoomForm"
  class="sideForm"
  style="display: none"
  autocomplete="off"
>
  <ul>
    <li>
      <a class="cancelButton" id="cancelEditRoomForm"> Cancel </a>
    </li>
  </ul>
  <h2>
    Edit Room
    <span class="nodeId" id="roomId">Error: Room Id should be here</span>
  </h2>
  <div class="tabs">
    <button
      id="editRoomFirstTabLink"
      type="button"
      class="tab-link edit-room-tab-link active"
      data-tab="editRoomDescriptionSection"
    >
      Description
    </button>
    <button
      type="button"
      class="tab-link edit-room-tab-link"
      data-tab="editRoomTagsSection"
    >
      Tags
    </button>
    <button
      type="button"
      class="tab-link edit-room-tab-link"
      data-tab="editRoomExitsSection"
    >
      Exits
    </button>
    <button
      type="button"
      class="tab-link edit-room-tab-link"
      data-tab="editRoomMobNodesSection"
    >
      MobNodes
    </button>
    <button
      type="button"
      class="tab-link edit-room-tab-link"
      data-tab="editRoomItemNodesSection"
    >
      ItemNodes
    </button>
  </div>
  <section
    class="tab-content edit-room-tab-content"
    id="editRoomDescriptionSection"
    style="display: block"
  >
    <h3>Description</h3>
    <ul>
      <li>
        <label for="editRoomName">Name</label>
        <input
          id="editRoomName"
          name="editRoomName"
          type="text"
          maxlength="60"
          required
        />
      </li>
      <li>
        <label for="editRoomExamine">Examine</label>
        <textarea
          id="editRoomExamine"
          name="editRoomExamine"
          maxlength="240"
        ></textarea>
      </li>
      <li>
        <label for="editRoomStudy">Study</label>
        <textarea
          id="editRoomStudy"
          name="editRoomStudy"
          maxlength="640"
        ></textarea>
      </li>
      <li>
        <label for="editRoomResearch">Research</label>
        <textarea
          id="editRoomResearch"
          name="editRoomResearch"
          maxlength="1600"
        ></textarea>
      </li>
    </ul>
  </section>

  <section
    class="tab-content edit-room-tab-content"
    id="editRoomTagsSection"
    style="display: none"
  >
    <h3>Tags</h3>
    <ul>
      <li>
        <label for="editRoomIsDark">Dark</label>
        <input
          type="checkbox"
          id="editRoomIsDark"
          name="editRoomIsDark"
          value="editRoomIsDark"
        />
      </li>
      <li>
        <label for="editRoomIsIndoors">Indoors</label>
        <input
          type="checkbox"
          id="editRoomIsIndoors"
          name="editRoomIsIndoors"
          value="editRoomIsIndoors"
        />
      </li>
      <li>
        <label for="editRoomIsOnWater">On Water</label>
        <input
          type="checkbox"
          id="editRoomIsOnWater"
          name="editRoomIsOnWater"
          value="editRoomIsOnWater"
        />
      </li>
      <li>
        <label for="editRoomIsUnderwater">Underwater</label>
        <input
          type="checkbox"
          id="editRoomIsUnderwater"
          name="editRoomIsUnderwater"
          value="editRoomIsUnderwater"
        />
      </li>
      <li>
        <label for="editRoomNoMounts">No Mounts</label>
        <input
          type="checkbox"
          id="editRoomNoMounts"
          name="editRoomNoMounts"
          value="editRoomNoMounts"
        />
      </li>
      <li>
        <label for="editRoomNoMobs">No Mobs</label>
        <input
          type="checkbox"
          id="editRoomNoMobs"
          name="editRoomNoMobs"
          value="editRoomNoMobs"
        />
      </li>
      <li>
        <label for="editRoomNoMagic">No Magic</label>
        <input
          type="checkbox"
          id="editRoomNoMagic"
          name="editRoomNoMagic"
          value="editRoomNoMagic"
        />
      </li>
      <li>
        <label for="editRoomNoCombat">No Combat</label>
        <input
          type="checkbox"
          id="editRoomNoCombat"
          name="editRoomNoCombat"
          value="editRoomNoCombat"
        />
      </li>
      <li>
        <label for="editRoomPlayerCap">Player Cap</label>
        <input
          style="width: 3.9rem"
          type="number"
          id="editRoomPlayerCap"
          name="editRoomPlayerCap"
          min="0"
          max="18"
          value="0"
          required
        />
      </li>
      <li>
        <label for="editRoomMobCap">Mob Cap</label>
        <input
          style="width: 3.9rem"
          type="number"
          id="editRoomMobCap"
          name="editRoomMobCap"
          min="0"
          max="18"
          value="0"
          required
        />
      </li>
    </ul>
  </section>

  <section
    class="tab-content edit-room-tab-content"
    id="editRoomExitsSection"
    style="display: none"
  >
    <h3>Exits</h3>
    <ul id="editRoomExitList">
      <!-- loaded via script -->
    </ul>
  </section>

  <section
    class="tab-content edit-room-tab-content"
    id="editRoomMobNodesSection"
    style="display: none"
  >
    <h3>Mob Nodes</h3>
    <ul class="nodeList" id="editRoomMobNodeList">
      <!-- loaded via script -->
    </ul>
    <ul class="addNodeContainer">
      <li>
        <!-- mob select and add button -->
        <select
          id="editRoomMobNodeSelect"
          name="editRoomMobNodeSelect"
          required
        >
          <!-- populated by script -->
        </select>
        <button type="button" class="addNode" id="editRoomMobNodeAdd">
          add
        </button>
      </li>
    </ul>
  </section>

  <section
    class="tab-content edit-room-tab-content"
    id="editRoomItemNodesSection"
    style="display: none"
  >
    <h3>Item Nodes</h3>
    <ul class="nodeList" id="editRoomItemNodeList">
      <!-- loaded via script -->
    </ul>
    <ul class="addNodeContainer">
      <li>
        <!-- item select and add button -->
        <select
          id="editRoomItemNodeSelect"
          name="editRoomItemNodeSelect"
          required
        >
          <!-- populated by script -->
        </select>
        <button type="button" class="addNode" id="editRoomItemNodeAdd">
          add
        </button>
      </li>
    </ul>
  </section>
  <section>
    <ul>
      <li>
        <button class="submitButton noLeftMargin" type="submit">
          Update Room
        </button>
      </li>
    </ul>
  </section>
</form>

<!-- **************************************************************************
****************************SCRIPT*********************************************
**************************************************************************** -->

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const editRoomForm = document.getElementById("editRoomForm");

    // Tab menu
    const editRoomTabLinks = document.querySelectorAll(".edit-room-tab-link");
    const editRoomTabContents = document.querySelectorAll(
      ".edit-room-tab-content"
    );

    const editRoomName = document.getElementById("editRoomName").value;
    const editRoomExamine = document.getElementById("editRoomExamine").value;
    const editRoomStudy = document.getElementById("editRoomStudy").value;
    const editRoomResearch = document.getElementById("editRoomResearch").value;
    const editRoomIsDark = document.getElementById("editRoomIsDark").value;
    const editRoomIsIndoors =
      document.getElementById("editRoomIsIndoors").value;
    const editRoomIsOnWater =
      document.getElementById("editRoomIsOnWater").value;
    const editRoomIsUnderwater = document.getElementById(
      "editRoomIsUnderwater"
    ).value;
    const editRoomNoMounts = document.getElementById("editRoomNoMounts").value;
    const editRoomNoMobs = document.getElementById("editRoomNoMobs").value;
    const editRoomNoMagic = document.getElementById("editRoomNoMagic").value;
    const editRoomNoCombat = document.getElementById("editRoomNoCombat").value;
    const editRoomPlayerCap =
      document.getElementById("editRoomPlayerCap").value;
    const editRoomMobCap = document.getElementById("editRoomMobCap").value;
    const editRoomItemNodeList = document.getElementById(
      "editRoomItemNodeList"
    );
    const editRoomItemNodeSelect = document.getElementById(
      "editRoomItemNodeSelect"
    );
    const editRoomMobNodeList = document.getElementById("editRoomMobNodeList");
    const editRoomMobNodeSelect = document.getElementById(
      "editRoomMobNodeSelect"
    );
    const editRoomExitList = document.getElementById("editRoomExitList");

    // to hold data from server on "edit room" command
    let workingEditRoomData;
    let mobBlueprints;
    let itemBlueprints;
    let rooms;

    // Tab menu listeners
    editRoomTabLinks.forEach((link) => {
      link.addEventListener("click", function () {
        // Remove active class from all tab links and sections
        editRoomTabLinks.forEach((link) => link.classList.remove("active"));
        editRoomTabContents.forEach((section) =>
          section.classList.remove("active")
        );
        editRoomTabContents.forEach(
          (section) => (section.style.display = "none")
        );

        // Add active class to the clicked tab and corresponding section
        this.classList.add("active");
        const target = document.getElementById(this.getAttribute("data-tab"));
        target.classList.add("active");
        target.style.display = "block";
      });
    });

    editRoomForm.addEventListener("submit", (e) => {
      e.preventDefault();
      workingEditRoomData.name = DOMPurify.sanitize(editRoomName);
      workingEditRoomData.description.examine =
        DOMPurify.sanitize(editRoomExamine);
      workingEditRoomData.description.study = DOMPurify.sanitize(editRoomStudy);
      workingEditRoomData.description.research =
        DOMPurify.sanitize(editRoomResearch);
      workingEditRoomData.isDark = editRoomIsDark.checked;
      workingEditRoomData.IsIndoors = editRoomIsIndoors.checked;
      workingEditRoomData.IsOnWater = editRoomIsOnWater.checked;
      workingEditRoomData.IsUnderwater = editRoomIsUnderwater.checked;
      workingEditRoomData.NoMounts = editRoomNoMounts.checked;
      workingEditRoomData.NoMobs = editRoomNoMobs.checked;
      workingEditRoomData.NoMagic = editRoomNoMagic.checked;
      workingEditRoomData.NoCombat = editRoomNoCombat.checked;
      workingEditRoomData.PlayerCap = Number(editRoomPlayerCap.value);
      workingEditRoomData.MobCap = Number(editRoomMobCap.value);
      saveExitList(workingEditRoomData.exits);

      socket.emit("userSubmittedEditRoom", workingEditRoomData);
      editRoomForm.style.display = "none";
    });

    document
      .getElementById("cancelEditRoomForm")
      .addEventListener("click", () => {
        editRoomForm.style.display = "none";
      });

    document
      .getElementById("editRoomItemNodeAdd")
      .addEventListener("click", () => {
        //push new node to data
        workingEditRoomData.itemNodes.push({
          _id: Math.floor(Math.random() * 1000000000), // server will generate legit id on zone save
          loadsBlueprintId: editRoomItemNodeSelect.value,
        });
        //reload nodeList
        clearUl(editRoomItemNodeList);
        loadNodesToUlElement(
          editRoomItemNodeList,
          workingEditRoomData.itemNodes,
          itemBlueprints
        );
      });
    document
      .getElementById("editRoomMobNodeAdd")
      .addEventListener("click", () => {
        //push new node to data
        workingEditRoomData.mobNodes.push({
          _id: Math.floor(Math.random() * 1000000000), // server will generate legit id on zone save
          loadsBlueprintId: editRoomMobNodeSelect.value,
        });
        //reload nodeList
        clearUl(editRoomMobNodeList);
        loadNodesToUlElement(
          editRoomMobNodeList,
          workingEditRoomData.mobNodes,
          mobBlueprints
        );
      });

    socket.on("openEditRoomForm", (formData) => {
      // persist the data from server
      workingEditRoomData = formData.roomData;
      mobBlueprints = formData.zoneData.mobBlueprintNames;
      itemBlueprints = formData.zoneData.itemBlueprintNames;
      rooms = formData.zoneData.rooms;
      // prepare fresh editRoomForm
      editRoomForm.reset();
      clearUl(editRoomMobNodeList);
      clearUl(editRoomItemNodeList);
      generateStringSelectOptions(mobBlueprints, editRoomMobNodeSelect);
      generateStringSelectOptions(itemBlueprints, editRoomItemNodeSelect);

      // reset/hide open forms, show editRoomForm
      activeForm.reset();
      activeForm.style.display = "none";
      activeForm = editRoomForm;
      activeForm.style.display = "block";
      document.querySelector("#editRoomFirstTabLink").click();
      input.value = "";

      // preset the values of the fields with data from server
      document.getElementById("roomId").textContent =
        `Id: ${workingEditRoomData._id}` || "error: room id not found";
      document.getElementById("roomName").value =
        workingEditRoomData.name || "";
      document.getElementById("examineRoom").value =
        workingEditRoomData.description.examine || "";
      document.getElementById("studyRoom").value =
        workingEditRoomData.description.study || "";
      document.getElementById("researchRoom").value =
        workingEditRoomData.description.research || "";
      document.getElementById("isDark").checked =
        workingEditRoomData.isDark || false;
      document.getElementById("editRoomIsIndoors").checked =
        workingEditRoomData.editRoomIsIndoors || false;
      document.getElementById("editRoomIsOnWater").checked =
        workingEditRoomData.editRoomIsOnWater || false;
      document.getElementById("editRoomIsUnderwater").checked =
        workingEditRoomData.editRoomIsUnderwater || false;
      document.getElementById("editRoomNoMounts").checked =
        workingEditRoomData.editRoomNoMounts || false;
      document.getElementById("editRoomNoMobs").checked =
        workingEditRoomData.editRoomNoMobs || false;
      document.getElementById("editRoomNoMagic").checked =
        workingEditRoomData.editRoomNoMagic || false;
      document.getElementById("editRoomNoCombat").checked =
        workingEditRoomData.editRoomNoCombat || false;
      document.getElementById("editRoomPlayerCap").value =
        workingEditRoomData.editRoomPlayerCap || 0;
      document.getElementById("editRoomMobCap").value =
        workingEditRoomData.editRoomMobCap || 0;
      loadNodesToUlElement(
        editRoomMobNodeList,
        workingEditRoomData.mobNodes,
        mobBlueprints
      );
      loadNodesToUlElement(
        editRoomItemNodeList,
        workingEditRoomData.itemNodes,
        itemBlueprints
      );
      loadExitList(workingEditRoomData.exits);
    });

    function loadExitList(exitList) {
      clearUl(editRoomExitList); // Clear the current list

      const directions = ["north", "east", "south", "west", "up", "down"];

      directions.forEach((direction) => {
        if (exitList[direction]) {
          const exitData = exitList[direction];
          const liElement = document.createElement("li");

          // Display the direction and destination room name
          const destinationRoom = rooms.find(
            (room) => room.id === exitData.destinationLocation.inRoom
          );

          liElement.innerHTML = `
            <div class="exit" style="margin:0;">
              ${direction}: ${
            destinationRoom ? destinationRoom.value : "Unknown Room"
          }
            </div>
            <div class="editExitControls">
              <div style="display: inline-block; margin: 0; vertical-align: top;">
                <label for="${direction}KeyItemBlueprint">Key:</label>
                <select class="stubbySelect" id="${direction}KeyItemBlueprint">
                  ${generateExitKeyOptions(
                    itemBlueprints,
                    exitData.keyItemBlueprint
                  )}
                </select>
              </div>
              <div style="display: inline-block; margin: 0; vertical-align: top;">
                <div class="right-aligned-stacked">
                  <label for="${direction}IsHidden">Hidden:</label>
                  <input type="checkbox" id="${direction}IsHidden" ${
            exitData.isHidden ? "checked" : ""
          } />
                </div>
                <div class="right-aligned-stacked">
                  <label for="${direction}IsClosed">Closed:</label>
                  <input type="checkbox" id="${direction}IsClosed" ${
            exitData.isClosed ? "checked" : ""
          } />
                </div>
              </div>
            </div>
          `;

          editRoomExitList.appendChild(liElement);
        }
      });
    }

    function saveExitList(exitList) {
      const directions = ["north", "east", "south", "west", "up", "down"];
      directions.forEach((direction) => {
        if (exitList[direction]) {
          const exitData = exitList[direction];
          let chosenKeyBlueprint = document.getElementById(
            `${direction}KeyItemBlueprint`
          ).value;
          if (!chosenKeyBlueprint) {
            chosenKeyBlueprint = null;
          }
          exitData.keyItemBlueprint = chosenKeyBlueprint;
          exitData.isHidden = document.getElementById(
            `${direction}IsHidden`
          ).checked;
          exitData.isClosed = document.getElementById(
            `${direction}IsClosed`
          ).checked;
        }
      });
    }

    function generateExitKeyOptions(availableItems, selectedItem) {
      let options = `<option value="">(unlocked)</option>`; // Default option

      availableItems.forEach((item) => {
        options += `<option value="${item.id}" ${
          item.id === selectedItem ? "selected" : ""
        }>${item.value}</option>`;
      });

      return options;
    }
  });
</script>
