<!-- Edit room form -->
<form
  id="editRoomForm"
  class="sideForm"
  style="display: none"
  autocomplete="off"
>
  <ul>
    <li>
      <a class="cancelButton" id="cancelEditRoomForm"> Cancel </a>
    </li>
  </ul>
  <h2>
    Edit Room
    <span class="nodeId" id="roomId">Error: Room Id should be here</span>
  </h2>
  <div class="tabs">
    <button
      id="editRoomDescriptionTab"
      type="button"
      class="tab-link edit-room-tab-link active"
      data-tab="editRoomDescriptionSection"
    >
      Description
    </button>
    <button
      id="editRoomTagsTab"
      type="button"
      class="tab-link edit-room-tab-link"
      data-tab="editRoomTagsSection"
    >
      Tags
    </button>
    <button
      id="editRoomExitsTab"
      type="button"
      class="tab-link edit-room-tab-link"
      data-tab="editRoomExitsSection"
    >
      Exits
    </button>
    <button
      id="editRoomMobNodesTab"
      type="button"
      class="tab-link edit-room-tab-link"
      data-tab="editRoomMobNodesSection"
    >
      MobNodes
    </button>
    <button
      id="editRoomItemNodesTab"
      type="button"
      class="tab-link edit-room-tab-link"
      data-tab="editRoomItemNodesSection"
    >
      ItemNodes
    </button>
  </div>
  <section
    class="tab-content edit-room-tab-content"
    id="editRoomDescriptionSection"
    style="display: block"
  >
    <h3>Description</h3>
    <ul>
      <li>
        <label for="editRoomName">Name</label>
        <input
          id="editRoomName"
          name="editRoomName"
          type="text"
          maxlength="60"
          required
        />
      </li>
      <li>
        <label for="editRoomLook">Look</label>
        <input
          id="editRoomLook"
          name="editRoomLook"
          type="text"
          maxlength="79"
          required
        />
      </li>
      <li>
        <label for="editRoomExamine">Examine</label>
        <textarea
          id="editRoomExamine"
          name="editRoomExamine"
          maxlength="240"
        ></textarea>
      </li>
      <li>
        <label for="editRoomStudy">Study</label>
        <textarea
          id="editRoomStudy"
          name="editRoomStudy"
          maxlength="640"
        ></textarea>
      </li>
      <li>
        <label for="editRoomResearch">Research</label>
        <textarea
          id="editRoomResearch"
          name="editRoomResearch"
          maxlength="1600"
        ></textarea>
      </li>
    </ul>
  </section>

  <section
    class="tab-content edit-room-tab-content"
    id="editRoomTagsSection"
    style="display: none"
  >
    <h3>Tags</h3>
    <ul>
      <li>
        <label for="editRoomIsDark">Dark</label>
        <input
          type="checkbox"
          id="editRoomIsDark"
          name="editRoomIsDark"
          value="editRoomIsDark"
        />
      </li>
      <li>
        <label for="editRoomIsIndoors">Indoors</label>
        <input
          type="checkbox"
          id="editRoomIsIndoors"
          name="editRoomIsIndoors"
          value="editRoomIsIndoors"
        />
      </li>
      <li>
        <label for="editRoomIsOnWater">On Water</label>
        <input
          type="checkbox"
          id="editRoomIsOnWater"
          name="editRoomIsOnWater"
          value="editRoomIsOnWater"
        />
      </li>
      <li>
        <label for="editRoomIsUnderwater">Underwater</label>
        <input
          type="checkbox"
          id="editRoomIsUnderwater"
          name="editRoomIsUnderwater"
          value="editRoomIsUnderwater"
        />
      </li>
      <li>
        <label for="editRoomNoMounts">No Mounts</label>
        <input
          type="checkbox"
          id="editRoomNoMounts"
          name="editRoomNoMounts"
          value="editRoomNoMounts"
        />
      </li>
      <li>
        <label for="editRoomNoMobs">No Mobs</label>
        <input
          type="checkbox"
          id="editRoomNoMobs"
          name="editRoomNoMobs"
          value="editRoomNoMobs"
        />
      </li>
      <li>
        <label for="editRoomNoMagic">No Magic</label>
        <input
          type="checkbox"
          id="editRoomNoMagic"
          name="editRoomNoMagic"
          value="editRoomNoMagic"
        />
      </li>
      <li>
        <label for="editRoomNoCombat">No Combat</label>
        <input
          type="checkbox"
          id="editRoomNoCombat"
          name="editRoomNoCombat"
          value="editRoomNoCombat"
        />
      </li>
      <li>
        <label for="editRoomPlayerCap">Player Cap</label>
        <input
          style="width: 3.9rem"
          type="number"
          id="editRoomPlayerCap"
          name="editRoomPlayerCap"
          min="0"
          max="18"
          value="0"
          required
        />
      </li>
      <li>
        <label for="editRoomMobCap">Mob Cap</label>
        <input
          style="width: 3.9rem"
          type="number"
          id="editRoomMobCap"
          name="editRoomMobCap"
          min="0"
          max="18"
          value="0"
          required
        />
      </li>
    </ul>
  </section>

  <section
    class="tab-content edit-room-tab-content"
    id="editRoomExitsSection"
    style="display: none"
  >
    <h3>Exits</h3>
    <ul id="editRoomExitList">
      <!-- loaded via script -->
    </ul>
  </section>

  <section
    class="tab-content edit-room-tab-content"
    id="editRoomMobNodesSection"
    style="display: none"
  >
    <h3>Mob Nodes</h3>
    <ul class="nodeList" id="editRoomMobNodeList">
      <!-- loaded via script -->
    </ul>
    <ul class="addNodeContainer">
      <li>
        <!-- mob select and add button -->
        <select
          id="editRoomMobNodeSelect"
          name="editRoomMobNodeSelect"
          required
        >
          <!-- populated by script -->
        </select>
        <button type="button" class="addNode" id="editRoomMobNodeAdd">
          add
        </button>
      </li>
    </ul>
  </section>

  <section
    class="tab-content edit-room-tab-content"
    id="editRoomItemNodesSection"
    style="display: none"
  >
    <h3>Item Nodes</h3>
    <ul class="nodeList" id="editRoomItemNodeList">
      <!-- loaded via script -->
    </ul>
    <ul class="addNodeContainer">
      <li>
        <!-- item select and add button -->
        <select
          id="editRoomItemNodeSelect"
          name="editRoomItemNodeSelect"
          required
        >
          <!-- populated by script -->
        </select>
        <button type="button" class="addNode" id="editRoomItemNodeAdd">
          add
        </button>
      </li>
    </ul>
  </section>
  <section>
    <ul>
      <li>
        <button class="submitButton noLeftMargin" type="submit">
          Update Room
        </button>
      </li>
    </ul>
  </section>
</form>

<!-- **************************************************************************
****************************SCRIPT*********************************************
**************************************************************************** -->

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const editRoomForm = document.getElementById("editRoomForm");

    // Tab menu
    const editRoomTabLinks = document.querySelectorAll(".edit-room-tab-link");
    const editRoomTabContents = document.querySelectorAll(
      ".edit-room-tab-content"
    );
    const editRoomDescriptionTab = document.getElementById(
      "editRoomDescriptionTab"
    );
    const editRoomTagsTab = document.getElementById("editRoomTagsTab");
    const editRoomExitsTab = document.getElementById("editRoomExitsTab");
    const editRoomMobNodesTab = document.getElementById("editRoomMobNodesTab");
    const editRoomItemNodesTab = document.getElementById(
      "editRoomItemNodesTab"
    );

    const editRoomName = document.getElementById("editRoomName");
    const editRoomLook = document.getElementById("editRoomLook");
    const editRoomExamine = document.getElementById("editRoomExamine");
    const editRoomStudy = document.getElementById("editRoomStudy");
    const editRoomResearch = document.getElementById("editRoomResearch");
    const editRoomIsDark = document.getElementById("editRoomIsDark");
    const editRoomIsIndoors = document.getElementById("editRoomIsIndoors");
    const editRoomIsOnWater = document.getElementById("editRoomIsOnWater");
    const editRoomIsUnderwater = document.getElementById(
      "editRoomIsUnderwater"
    );
    const editRoomNoMounts = document.getElementById("editRoomNoMounts");
    const editRoomNoMobs = document.getElementById("editRoomNoMobs");
    const editRoomNoMagic = document.getElementById("editRoomNoMagic");
    const editRoomNoCombat = document.getElementById("editRoomNoCombat");
    const editRoomPlayerCap = document.getElementById("editRoomPlayerCap");
    const editRoomMobCap = document.getElementById("editRoomMobCap");
    const editRoomItemNodeList = document.getElementById(
      "editRoomItemNodeList"
    );
    const editRoomItemNodeSelect = document.getElementById(
      "editRoomItemNodeSelect"
    );
    const editRoomMobNodeList = document.getElementById("editRoomMobNodeList");
    const editRoomMobNodeSelect = document.getElementById(
      "editRoomMobNodeSelect"
    );
    const editRoomExitList = document.getElementById("editRoomExitList");

    // to hold data from server on "edit room" command
    let workingEditRoomData;
    let mobBlueprints;
    let itemBlueprints;
    let rooms;
    let editRoomDescriptionHelp = [];
    let editRoomTagsHelp = [];
    let editRoomExitsHelp = [];
    let editRoomItemNodesHelp = [];
    let editRoomMobNodesHelp = [];

    // Tab menu listeners
    editRoomTabLinks.forEach((link) => {
      link.addEventListener("click", function () {
        // Remove active class from all tab links and sections
        editRoomTabLinks.forEach((link) => link.classList.remove("active"));
        editRoomTabContents.forEach((section) =>
          section.classList.remove("active")
        );
        editRoomTabContents.forEach(
          (section) => (section.style.display = "none")
        );

        // Add active class to the clicked tab and corresponding section
        this.classList.add("active");
        const target = document.getElementById(this.getAttribute("data-tab"));
        target.classList.add("active");
        target.style.display = "block";
      });
    });

    editRoomDescriptionTab.addEventListener("click", () =>
      showHelpArray(editRoomDescriptionHelp)
    );
    editRoomTagsTab.addEventListener("click", () =>
      showHelpArray(editRoomTagsHelp)
    );
    editRoomExitsTab.addEventListener("click", () =>
      showHelpArray(editRoomExitsHelp)
    );
    editRoomMobNodesTab.addEventListener("click", () =>
      showHelpArray(editRoomMobNodesHelp)
    );
    editRoomItemNodesTab.addEventListener("click", () =>
      showHelpArray(editRoomItemNodesHelp)
    );

    editRoomForm.addEventListener("submit", (e) => {
      e.preventDefault();
      workingEditRoomData.name = DOMPurify.sanitize(editRoomName.value);
      workingEditRoomData.description.look = DOMPurify.sanitize(
        editRoomLook.value
      );
      workingEditRoomData.description.examine = DOMPurify.sanitize(
        editRoomExamine.value
      );
      workingEditRoomData.description.study = DOMPurify.sanitize(
        editRoomStudy.value
      );
      workingEditRoomData.description.research = DOMPurify.sanitize(
        editRoomResearch.value
      );
      workingEditRoomData.isDark = editRoomIsDark.checked;
      workingEditRoomData.isIndoors = editRoomIsIndoors.checked;
      workingEditRoomData.isOnWater = editRoomIsOnWater.checked;
      workingEditRoomData.isUnderwater = editRoomIsUnderwater.checked;
      workingEditRoomData.noMounts = editRoomNoMounts.checked;
      workingEditRoomData.noMobs = editRoomNoMobs.checked;
      workingEditRoomData.noMagic = editRoomNoMagic.checked;
      workingEditRoomData.noCombat = editRoomNoCombat.checked;
      workingEditRoomData.playerCap = editRoomPlayerCap.value;
      workingEditRoomData.mobCap = editRoomMobCap.value;
      saveExitList(workingEditRoomData.exits);
      socket.emit("userSubmittedEditRoom", workingEditRoomData);
      editRoomForm.style.display = "none";
    });

    document
      .getElementById("cancelEditRoomForm")
      .addEventListener("click", () => {
        editRoomForm.style.display = "none";
      });

    document
      .getElementById("editRoomItemNodeAdd")
      .addEventListener("click", () => {
        //push new node to data
        workingEditRoomData.itemNodes.push({
          _id: Math.floor(Math.random() * 1000000000), // server will generate legit id on zone save
          loadsBlueprintId: editRoomItemNodeSelect.value,
        });
        //reload nodeList
        clearUl(editRoomItemNodeList);
        loadNodesToUlElement(
          editRoomItemNodeList,
          workingEditRoomData.itemNodes,
          itemBlueprints
        );
      });
    document
      .getElementById("editRoomMobNodeAdd")
      .addEventListener("click", () => {
        //push new node to data
        workingEditRoomData.mobNodes.push({
          _id: Math.floor(Math.random() * 1000000000), // server will generate legit id on zone save
          loadsBlueprintId: editRoomMobNodeSelect.value,
        });
        //reload nodeList
        clearUl(editRoomMobNodeList);
        loadNodesToUlElement(
          editRoomMobNodeList,
          workingEditRoomData.mobNodes,
          mobBlueprints
        );
      });

    socket.on("openEditRoomForm", (formData) => {
      // persist the data from server
      workingEditRoomData = formData.roomData;
      mobBlueprints = formData.zoneData.mobBlueprintNames;
      itemBlueprints = formData.zoneData.itemBlueprintNames;
      rooms = formData.zoneData.rooms;
      editRoomDescriptionHelp = formData.editRoomDescriptionHelp;
      editRoomTagsHelp = formData.editRoomTagsHelp;
      editRoomExitsHelp = formData.editRoomExitsHelp;
      editRoomItemNodesHelp = formData.editRoomItemNodesHelp;
      editRoomMobNodesHelp = formData.editRoomMobNodesHelp;

      // prepare fresh editRoomForm
      editRoomForm.reset();
      clearUl(editRoomMobNodeList);
      clearUl(editRoomItemNodeList);
      generateStringSelectOptions(mobBlueprints, editRoomMobNodeSelect);
      generateStringSelectOptions(itemBlueprints, editRoomItemNodeSelect);

      resetActiveSidebarElementTo(editRoomForm);
      document.querySelector("#editRoomDescriptionTab").click();

      // preset the values of the fields with data from server
      document.getElementById("roomId").textContent =
        `Id: ${workingEditRoomData._id}` || "error: room id not found";
      editRoomName.value = workingEditRoomData.name || "";
      editRoomLook.value = workingEditRoomData.description.look || "";
      editRoomExamine.value = workingEditRoomData.description.examine || "";
      editRoomStudy.value = workingEditRoomData.description.study || "";
      editRoomResearch.value = workingEditRoomData.description.research || "";
      editRoomIsDark.checked = workingEditRoomData.isDark || false;
      editRoomIsIndoors.checked = workingEditRoomData.isIndoors || false;
      editRoomIsOnWater.checked = workingEditRoomData.isOnWater || false;
      editRoomIsUnderwater.checked = workingEditRoomData.isUnderwater || false;
      editRoomNoMounts.checked = workingEditRoomData.noMounts || false;
      editRoomNoMobs.checked = workingEditRoomData.noMobs || false;
      editRoomNoMagic.checked = workingEditRoomData.noMagic || false;
      editRoomNoCombat.checked = workingEditRoomData.noCombat || false;
      editRoomPlayerCap.value = workingEditRoomData.playerCap || 18;
      editRoomMobCap.value = workingEditRoomData.mobCap || 18;
      loadNodesToUlElement(
        editRoomMobNodeList,
        workingEditRoomData.mobNodes,
        mobBlueprints
      );
      loadNodesToUlElement(
        editRoomItemNodeList,
        workingEditRoomData.itemNodes,
        itemBlueprints
      );
      loadExitList(workingEditRoomData.exits);
    });

    function loadExitList(exitList) {
      clearUl(editRoomExitList); // Clear the current list

      const directions = ["north", "east", "south", "west", "up", "down"];

      directions.forEach((direction) => {
        if (exitList[direction]) {
          const exitData = exitList[direction];
          const liElement = document.createElement("li");

          // Display the direction and destination room name
          const destinationRoom = rooms.find(
            (room) => room._id === exitData.destinationLocation.inRoom
          );

          liElement.innerHTML = `
            <div class="exit" style="margin:0;">
              ${direction}: ${
            destinationRoom ? destinationRoom.name : "Unknown Room"
          }
            </div>
            <div class="editExitControls">
              <div style="display: inline-block; margin: 0; vertical-align: top;">
                <label for="${direction}KeyItemBlueprint">Key:</label>
                <select class="stubbySelect" id="${direction}KeyItemBlueprint">
                  ${generateExitKeyOptions(
                    itemBlueprints,
                    exitData.keyItemBlueprint
                  )}
                </select>
              </div>
              <div style="display: inline-block; margin: 0; vertical-align: top;">
                <div class="right-aligned-stacked">
                  <label for="${direction}hiddenByDefault">Hidden:</label>
                  <input type="checkbox" id="${direction}hiddenByDefault" ${
            exitData.hiddenByDefault ? "checked" : ""
          } />
                </div>
                <div class="right-aligned-stacked">
                  <label for="${direction}closedByDefault">Closed:</label>
                  <input type="checkbox" id="${direction}closedByDefault" ${
            exitData.closedByDefault ? "checked" : ""
          } />
                </div>
              </div>
            </div>
          `;

          editRoomExitList.appendChild(liElement);
        }
      });
    }

    function saveExitList(exitList) {
      const directions = ["north", "east", "south", "west", "up", "down"];
      directions.forEach((direction) => {
        if (exitList[direction]) {
          const exitData = exitList[direction];
          let chosenKeyBlueprint = document.getElementById(
            `${direction}KeyItemBlueprint`
          ).value;
          if (!chosenKeyBlueprint) {
            chosenKeyBlueprint = null;
          }
          exitData.keyItemBlueprint = chosenKeyBlueprint;
          exitData.hiddenByDefault = document.getElementById(
            `${direction}hiddenByDefault`
          ).checked;
          exitData.closedByDefault = document.getElementById(
            `${direction}closedByDefault`
          ).checked;
        }
      });
    }

    function generateExitKeyOptions(availableItems, selectedItem) {
      let options = `<option value="">(unlocked)</option>`; // Default option

      availableItems.forEach((item) => {
        options += `<option value="${item._id}" ${
          item._id === selectedItem ? "selected" : ""
        }>${item.name}</option>`;
      });

      return options;
    }
  });
</script>
