<!-- erase_item_form -->
<form id="eraseItemForm" class="sideForm" style="display: none" autocomplete="off">
  <ul>
    <li>
      <a class="cancelButton" id="cancelEraseItemForm"> Cancel </a>
    </li>
  </ul>
  <h2>Erase Item</h2>
  <ul>
    <li>
      <label for="eraseItemSelectItem">Item:</label>
      <select id="eraseItemSelectItem" name="eraseItemSelectItem" required>
        <!-- populated by script -->
      </select>
    </li>
  </ul>

  <ul>
    <div style="display: inline-block">
    <li>
      <input type="checkbox" id="eraseItemConfirm" name="eraseItemConfirm" required/>
      <label for="eraseItemConfirm">I'm sure I want to erase this item. I understand it can't be un-erased.</label>
    </li>
    </div>
    <li>
      <button type="submit">Erase Item</button>
    </li>
  </ul>
</form>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const eraseItemForm = document.getElementById("eraseItemForm");
    const eraseItemSelectItem = document.getElementById("eraseItemSelectItem");

    createZoneForm.addEventListener("submit", (e) => {
      e.preventDefault();
      const eraseItemFormData = eraseItemSelectItem.value;
      console.log(`submitting ${eraseItemFormData} for deletion`)
      socket.emit("userSubmittedEraseItem", eraseItemFormData);
      eraseItemForm.reset();
      eraseItemForm.style.display = "none"; // Hide the form after submission
    });

    document
      .getElementById("cancelEraseItemForm")
      .addEventListener("click", function () {
        eraseItemForm.style.display = "none";
      });

    socket.on("openEraseItemForm", (formData) => {
      console.log(formData);
      activeForm.reset();
      activeForm.style.display = "none";
      activeForm = eraseItemForm;
      generateStringSelectOptions(
        formData.itemBlueprintNames,
        document.getElementById("eraseItemSelectItem")
      );
      activeForm.style.display = "block";
      input.value = "";
    });
  });
</script>
