<!-- erase_exit_form -->
<form
  id="eraseExitForm"
  class="sideForm"
  style="display: none"
  autocomplete="off"
>
  <ul>
    <li>
      <a class="cancelButton" id="cancelEraseExitForm"> Cancel </a>
    </li>
  </ul>
  <h2>Erase Exit</h2>
  <ul>
    <li>
      <label for="eraseExitDirection">Direction:</label>
      <select id="eraseExitDirection" name="eraseExitDirection" required></select>
    </li>
  </ul>
  <button type="submit">Erase Exit</button>
</form>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const eraseExitForm = document.getElementById("eraseExitForm");
    const directionSelect = document.getElementById("eraseExitDirection");

    eraseExitForm.addEventListener("submit", (e) => {
      e.preventDefault();
      socket.emit("userSubmittedEraseExit", directionSelect.value);
      eraseExitForm.reset();
      eraseExitForm.style.display = "none";
    });

    document
      .getElementById("cancelEraseExitForm")
      .addEventListener("click", function () {
        eraseExitForm.style.display = "none";
      });

    socket.on("openEraseExitForm", (formData) => {
      activeForm.reset();
      activeForm.style.display = "none";
      activeForm = eraseExitForm;
      activeForm.style.display = "block";
      input.value = "";

      // Update the direction select element
      directionSelect.innerHTML = ""; // Clear existing options

      formData.eraseableExits.forEach((direction) => {
        const option = document.createElement("option");
        option.value = direction;
        option.textContent = direction;
        directionSelect.appendChild(option);
      });
    });
  });
</script>
