<! -- game_terminal.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Restoria 0.0.1</title>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <nav class="nav">
      <h1>Restoria 0.0.1</h1>
      <form action="/logout" method="post">
        <button class="logout" type="submit">Quit</button>
      </form>
    </nav>

    <div>
      <div id="messagesContainer">
        <ul id="messages"></ul>
      </div>

      <form id="createUserForm" class="sideForm" style="display: none">
        <section>
          <label for="newUserName">Name:</label>
          <input
            id="newUserName"
            name="newUserName"
            type="text"
            autocomplete="newUserName"
            required
          />
        </section>
        <section>
          <label for="new-password">Password:</label>
          <input
            id="new-password"
            name="password"
            type="password"
            autocomplete="new-password"
            required
          />
        </section>
        <section>
          <label for="pronouns">Pronouns:</label>
          <select id="pronouns" name="pronouns" required>
            <option value="0">He/Him</option>
            <option value="1">It/It</option>
            <option value="2">She/Her</option>
            <option value="3">They/Them</option>
          </select>
        </section>
        <section>
          <label for="job">Job:</label>
          <select id="job" name="job" required>
            <option value="cleric">Cleric</option>
            <option value="mage">Mage</option>
            <option value="rogue">Rogue</option>
            <option value="warrior">Warrior</option>
          </select>
        </section>
        <button type="submit">Create User</button>
        <button type="button" id="cancelCreateUserForm">Cancel</button>
      </form>

      <form id="editUserForm" class="sideForm" style="display: none">
        <section>
          <label for="examineUser">Examine:</label>
          <textarea
            id="examineUser"
            name="examineUser"
            type="text"
            autocomplete="examineUser"
          ></textarea>
        </section>
        <section>
          <label for="studyUser">Study:</label>
          <textarea
            id="studyUser"
            name="studyUser"
            type="text"
            autocomplete="studyUser"
          ></textarea>
        </section>
        <section>
          <label for="researchUser">Research:</label>
          <textarea
            id="researchUser"
            name="researchUser"
            type="text"
            autocomplete="researchUser"
          ></textarea>
        </section>
        <button type="submit">Update Description</button>
        <button type="button" id="cancelEditUserForm">Cancel</button>
      </form>
    </div>

    <form id="commandForm" action="">
      <label for="commandInput"></label>
      <input id="commandInput" autocomplete="off" />
      <button type="submit">Send</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io(); // no URL needed for now; defaults to host that serves the page
      const validCommandWords = <%- JSON.stringify(validCommandWords) %>;
      const commandForm = document.getElementById("commandForm");
      const createUserForm = document.getElementById("createUserForm");
      const editUserForm = document.getElementById("editUserForm");
      const newUserName = document.getElementById("newUserName");
      const password = document.getElementById("new-password");
      const input= document.getElementById("commandInput");
      const messagesContainer= document.getElementById("messagesContainer");
      const messages = document.getElementById("messages");

      //methods definitions (validation and parsing are client version)
      function isValidCommandWord(commandWord) {
        if (!validCommandWords.includes(commandWord.toLowerCase())) {
          return false;
        }
        return true;
      }
      function parseCommand(command) {
        const parsedCommand = {};
        const splitCommand = command.split(" ");
        parsedCommand.commandWord = splitCommand[0];
        if (splitCommand.length > 1) {
          parsedCommand.string = splitCommand.slice(1).join(" ");
        }
        return parsedCommand;
      }
      function appendMessageToTerminal(message) {
        const item = document.createElement("li");
        item.classList.add('message-item'); // Add message-item class
        item.textContent = message.content;
        item.classList.add(message.type);
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
      }

      document
        .getElementById("cancelCreateUserForm")
        .addEventListener("click", function () {
          messagesContainer.classList.remove("makeRoom");
          createUserForm.style.display = "none";
        });
      document
        .getElementById("cancelEditUserForm")
        .addEventListener("click", function () {
          messagesContainer.classList.remove("makeRoom");
          editUserForm.style.display = "none";
      });

      let activeForm = editUserForm;

      commandForm.addEventListener("submit", (e) => {
        e.preventDefault();
        if (input.value) {
          const parsedCommand = parseCommand(input.value);
          //reject invalid command words

          if (input.value.toLowerCase() === "create user") {
            activeForm.reset();
            activeForm.style.display = "none";
            activeForm = createUserForm;
            activeForm.style.display = "block";
            messagesContainer.classList.add("makeRoom");
            input.value = "";
            return;
          }
          
          if (!isValidCommandWord(parsedCommand.commandWord)) {
            const shortenedCommand = parsedCommand.commandWord.slice(0, 10);
            appendMessageToTerminal(
              {type: "rejection", content: `Sorry, '${shortenedCommand}' is not a valid command word.`}
            );
            input.value = "";
            return;
          }
          socket.emit("userSentCommand", input.value);
          input.value = "";
        }
      });

      createUserForm.addEventListener("submit", (e) => {
        e.preventDefault();
        const userData = {
          username: document.getElementById("newUserName").value.toLowerCase(),
          name: document.getElementById("newUserName").value,
          password: document.getElementById("new-password").value,
          pronouns: document.getElementById("pronouns").value,
          job: document.getElementById("job").value,
        };
        socket.emit("userSubmittedNewUser", userData);
        createUserForm.reset();
        createUserForm.style.display = "none"; // Hide the form after submission
        messagesContainer.classList.remove("makeRoom");
      });

      editUserForm.addEventListener("submit", (e) => {
        e.preventDefault();
        const userDescription = {
          examine: document.getElementById("examineUser").value,
          study: document.getElementById("studyUser").value,
          research: document.getElementById("researchUser").value,
        };
        socket.emit("userSubmittedUserDescription", userDescription);
        editUserForm.reset();
        editUserForm.style.display = "none"; // Hide the form after submission
        messagesContainer.classList.remove("makeRoom");
      });

      socket.on("openEditUserForm", (formData) => {
        activeForm.reset();
        activeForm.style.display = "none";
        activeForm = editUserForm;
        activeForm.style.display = "block";
        messagesContainer.classList.add("makeRoom");
        input.value = "";
        // Set the values of the textareas based on formData
        document.getElementById("examineUser").value = formData.examine || '';
        document.getElementById("studyUser").value = formData.study || '';
        document.getElementById("researchUser").value = formData.research || '';
      });

      socket.on("invalid", (rejectionString) => {
        appendMessageToTerminal({type: "rejection", content: "Server says invalid command."});
      });

      socket.on("redirectToLogin", () => {
        // Redirect to /login
        socket.disconnect();
        window.location.href = "/login";
      });

      socket.on("message", (message) => {
        appendMessageToTerminal(message);
      });

      window.addEventListener('beforeunload', function (event) {
        socket.disconnect();
      });

      document.querySelector('.logout').addEventListener('click', function (event) {
        socket.disconnect();
      });
    </script>
  </body>
</html>
