<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Restoria 0.0.1 with ejs</title>
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <nav class="nav">
        <h1>Restoria 0.0.1 with ejs</h1>
        <span class="username">Username: <%= username %></span>
          <form action="/logout" method="post">
            <button class="logout" type="submit">Sign out</button>
          </form>
    </nav>
    <ul id="messages"></ul>
    <form id="commandForm" action="">
      <label for="input"></label>
      <input id="input" autocomplete="off" /><button type="submit">Send</button>
    </form>


    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io(); // no URL needed for now; it defaults to trying to connect to the host that serves the page
      const username = '<%= username %>';
      const commandForm = document.getElementById('commandForm');
      const input = document.getElementById('input');
      const messages = document.getElementById('messages');
      
      commandForm.addEventListener('submit', (e) => {
        e.preventDefault();
        if (input.value) {
          socket.emit('user command', input.value);
          input.value = '';
        }
      });

      socket.on('say', (parsedCommand) => {
        const item = document.createElement('li');
        item.textContent = `${username}: ${parsedCommand.string}`;
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
      });

      socket.on('invalid', (parsedCommand) => {
        const item = document.createElement('li');
        item.textContent = `Invalid command: ${parsedCommand.commandWord}`;
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
      });
    </script>
  </body>

</html>