<ul id ="cheatSheetList">
  <li>Restoria is a role-playing game where authors can create the game world together.</li>
  <li>Some features (like MAP) aren't available on Mobile yet. We recommend a big display with a keyboard.</li>
  <% cheatsheet.forEach(function(item) { %>
    <li><%- item %></li>
  <% }); %>
</ul>


