<ul id ="cheatSheetList">
  <li>Still a prototype, Restoria will be a role-playing game where authors can create the game world together.</li>
  <li>Restoria isn't playable on your phone yet. Please use a big display with a keyboard for now.</li>
  <% cheatsheet.forEach(function(item) { %>
    <li><%- item %></li>
  <% }); %>
</ul>


