<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Restoria 0.0.1</title>
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <ul id="messages">
      <h1>Restoria 0.0.1</h1>
      <li><a href="/login">Log in</a></li>
      <!-- <li><a href="/register">Register</a></li> -->
    </ul>
    <%- include('help_cheatsheet'); %>
  </body>

</html>