<div class="menu">
  <div class="menuItem"><a href="/">Home</a></div>
  <div class="menuItem"><a href="/updates">Read Updates</a></div>
  <div class="menuItem"><a href="/register">Create a Character</a></div>
  <div class="menuItem"><a href="/login">Play</a></div>
</div>
