<div class="menu">
  <div class="menuItem"><a href="/" class="button">Home</a></div>
  <div class="menuItem"><a href="/register" class="button">Create a Character</a></div>
  <div class="menuItem"><a href="/login" class="button">Play</a></div>
</div>
