<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Restoria - Register</title>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <ul id="messages">
      <h1>Restoria 0.1.0</h1>
      <h2>Register</h2>
      <% if (typeof errorMessage !== 'undefined') { %>
      <p style="color: red"><%= errorMessage %></p>
      <% } %>
      <li>
        <form action="/register" method="post">
          <ul>
            <li>
              <label for="name">Name: </label>
              <input
                id="name"
                name="name"
                type="text"
                autocomplete="name"
                required
              />
            </li>
            <li>
              <small
                >Name must be letters only (max. 18), no unique irl names (e.g. no "Obama")</small
              >
            </li>
            <li>
              <label for="new-password">Password:</label>
              <input
                id="new-password"
                name="password"
                type="password"
                autocomplete="new-password"
                required
              />
            </li>
            <li>
              <small
                >Password must be at least 8 characters long and include
                lowercase, uppercase, and a number.</small
              >
            </li>
            <li>
              <label for="pronouns">Pronouns:</label>
              <select id="pronouns" name="pronouns" required>
                <option value="0">He/Him</option>
                <option value="1">It/It</option>
                <option value="2">She/Her</option>
                <option value="3">They/Them</option>
              </select>
            </li>
            <li>
              <label for="job">Job: </label>
              <select id="job" name="job" required>
                <option value="cleric">Cleric</option>
                <option value="mage">Mage</option>
                <option value="rogue">Rogue</option>
                <option value="warrior">Warrior</option>
              </select>
            </li>
            <li>
              <button class="button" type="submit">Create it!</button>
            </li>
          </ul>
        </form>
      </li>
      <li>Already have a character? <a href="/login">Play!</a></li>
      <li>Or go <a href="/">home.</a></li>
    </ul>
    <%- include('help_cheatsheet'); %>
  </body>
</html>

<script>
  document.querySelector("form").addEventListener("submit", function (e) {
    const passwordInput = document.getElementById("new-password");
    const password = passwordInput.value;

    const passwordRequirements = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/;

    if (!passwordRequirements.test(password)) {
      e.preventDefault();
      alert(
        "Password must be at least 8 characters long and include lowercase, uppercase, and a number."
      );
      passwordInput.focus();
    }
  });
</script>
