@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
}

/* setup color variables for styles */
:root {
  --black: #000;
  --grey_dark: #1e1e1e;
  --grey: #7f7f7f;
  --grey_light: #e5e5e5;
  --white: #fff;
  --purple_light: #d191ff;
  --purple: #ae3cff;
  --purple_dark: #7700cb;
  --blue_light: #a5bdff;
  --blue: #5c5cff;
  --blue_dark: #2626fc;
  --cyan_light: #a2ffff;
  --cyan: #00ffff;
  --cyan_dark: #00cdcd;
  --green_light: #a0ffa0;
  --green: #00ff00;
  --green_dark: #00cd00;
  --yellow_light: #ffffae;
  --yellow: #ffff00;
  --yellow_dark: #cdcd00;
  --orange_light: #ffb192;
  --orange: #ff8859;
  --orange_dark: #bc4a1d;
  --red_light: #f88181;
  --red: #ff0000;
  --red_dark: #cd0000;
  --magenta_light: #ffa3ff;
  --magenta: #ff00ff;
  --magenta_dark: #cd00cd;
  --brown: #977447;
}

a:link,
a:visited {
  text-decoration: underline;
  color: var(--white);
}

/* layout */

html,
body {
  margin: 0;
  background: var(--grey_dark);
  color: var(--grey);
  display: inline-block;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.17em;
}

h3 {
  font-size: 1em;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

form li + li {
  margin-top: 0.5em;
}

label {
  font-family: "Roboto Mono", monospace;
  display: inline-block;
  min-width: 6rem;
  text-align: right;
}

textarea,
input,
select {
  font-family: "Roboto Mono", monospace;
  width: 20rem;
  flex-grow: 1;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 0;
}

button {
  /* to align with fields next to label */
  font-family: "Roboto Mono", monospace;
  margin-left: 6.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.cancelButton {
  text-decoration: underline;
  color: var(--white);
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
  cursor: pointer;
  font-size: .75rem;
}

.noLeftMargin,
a.noLeftMargin {
  margin-left: 0;
}

.secondaryAction {
  text-decoration: underline;
  color: var(--white);
  margin-left: 6.5rem;
  font-size: .75rem;
}

input[type="checkbox"],
select {
  width: auto;
}

textarea {
  vertical-align: top;
  height: 4rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 2.5px 0px;
}

.nodeList > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}
.nodeList > li:nth-child(odd) {
  background: #222;
}
.nodeInfo {
  display: flex;
  flex-direction: column;
}
.nodeId {
  margin-top: 2px; /* Minimal space between node name and id */
  font-size: 0.7em;
  color: #888;
}
.addNodeContainer > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 0;
  background: none;
}
.addNode,
.deleteNode {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  align-self: center; /* Vertically centers the button */
}
.addNode {
  background-color: #66ff55;
  color: white;
}
.addNode:hover {
  background-color: #33ff44;
}
.deleteNode {
  background-color: #ff4d4d;
  color: white;
}
.deleteNode:hover {
  background-color: #ff3333;
}

#logout {
  position: fixed;
  top: 10px;
  right: 10px;
}

.sideForm {
  width: 30rem;
  height: 91%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0 1rem;
  background-color: var(--grey_dark);
  box-shadow: 0 0.5px 2px var(--black);
  display: none;
  overflow: auto;
}

.editExitControls {
  margin: 0;
}

.right-aligned-stacked {
  float: right;
  clear: right;
  margin: 0;
}

.stubbySelect {
  width: 12rem;
}

.extraStubbySelect {
  width: 4rem;
}

#editRoomExitList > li {
  margin: 0;
}

#editRoomExitList > li:nth-child(odd) {
  background: #222;
}

#messagesContainer {
  margin-bottom: 3rem;
  padding: 40px, 8px;
  overflow-y: auto;
}

#messages {
  list-style-type: none;
  margin: 10px;
  padding: 0.1rem;
  overflow-wrap: break-word;
  max-width: 80ch;
  word-wrap: break-word;
}

.message-item {
  white-space: pre-wrap;
  max-width: 80ch;
  word-wrap: break-word;
}

#commandForm {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--grey_dark);
  box-shadow: 0 -0.5px 2px var(--black);
  z-index: 1000;
}

#commandSend {
  margin-left: 0.5rem;
}

/* colors for message types from server */

.quit,
.rejection {
  color: var(--grey);
}

.exit {
  color: var(--blue_dark);
}

.stats {
  color: var(--blue);
}

.equippedItemName,
.itemName,
.itemIsHere {
  color: var(--blue_light);
}

.say {
  color: var(--cyan);
}

.mobIsHere,
.mobMove {
  color: var(--green_light);
}

.success {
  color: var(--green_dark);
}

.createUser,
.userArrived,
.userIsHere,
.userMove {
  color: var(--yellow);
}

.userName,
.mobName,
.roomName,
.heading,
.who {
  color: var(--yellow_light);
}

.userDescription,
.mobDescription,
.itemDescription,
.roomDescription {
  color: var(--orange_light);
}

.shout {
  color: var(--red_dark);
}

.telepath {
  color: var(--red_light);
}
