/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
  --black: #000;
  --grey_dark: #1e1e1e;
  --grey: #7f7f7f;
  --grey_light: #e5e5e5;
  --white: #fff;
  --purple_light: #d191ff;
  --purple: #ae3cff;
  --purple_dark: #7700cb;
  --blue_light: #a5bdff;
  --blue: #5c5cff;
  --blue_dark: #2626fc;
  --cyan_light: #a2ffff;
  --cyan: #00ffff;
  --cyan_dark: #00cdcd;
  --green_light: #a0ffa0;
  --green: #00ff00;
  --green_dark: #00cd00;
  --yellow_light: #ffffae;
  --yellow: #ffff00;
  --yellow_dark: #cdcd00;
  --orange_light: #ffb192;
  --orange: #ff8859;
  --orange_dark: #bc4a1d;
  --red_light: #f88181;
  --red: #ff0000;
  --red_dark: #cd0000;
  --magenta_light: #ffa3ff;
  --magenta: #ff00ff;
  --magenta_dark: #cd00cd;
  --brown: #977447;
}

* {
  overflow-wrap: break-word;
}

html,
body {
  margin: 0;
  padding-bottom: 1.2rem;
  font-family: "Roboto Mono", monospace;
  background: var(--grey_dark);
  color: var(--grey);
}

#formContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--grey_dark);
  padding: 8px;
  box-shadow: 0 -.5px 2px var(--black);
}

#form {
  width: calc(100% - 20px); /* Adjust width to account for the margins */
  display: flex;
  flex-direction: row; /* Ensure items are in a row */
  align-items: center; /* Center items vertically */
  padding: 0 10px; /* Add padding to ensure 10px spacing from left and right */
  box-sizing: border-box; /* Include padding in the width calculation */
}

#input, #name, #new-password, #pronouns, #job {
  border: none;
  flex-grow: 1;
  border-radius: 2rem;
  margin-right: 10px; /* Ensure 10px margin between input and button */
}

#button {
  flex-shrink: 0; /* Ensure the button doesn't shrink */
}

#messages {
  list-style-type: none;
  margin: 10px;
  padding: 0.1rem;
  overflow-wrap: anywhere;
  word-wrap: break-word;
}

.message-item {
  white-space: pre-wrap; /* Ensure that white spaces are preserved and lines break as needed */
}

/* Ensure no unusual spaces in form-related list items */
#messages > li {
  white-space: normal;
}

.quit,
.rejection {
  color: var(--grey);
}

.exit {
  color: var(--blue_dark);
}

.equippedItemName,
.itemName,
.itemIsHere {
  color: var(--blue_light);
}

.say {
  color: var(--cyan);
}

.mobIsHere {
  color: var(--green_light);
}

.userArrived,
.userIsHere,
.createCharacter {
  color: var(--yellow);
}

.userName,
.mobName,
.roomName,
.heading,
.who {
  color: var(--yellow_light);
}

.userDescription,
.mobDescription,
.itemDescription,
.roomDescription {
  color: var(--orange_light);
}

.shout {
  color: var(--red_dark);
}

.telepath {
  color: var(--red_light);
}

a:link,
a:visited {
  color: var(--white);
}
